<template>
  <v-container>
    <v-row align="center" no-gutters>
      <v-spacer></v-spacer>
      <v-col lg="8">
        <h1
          class="font-weight-light green--text text--darken-4 display-3  basil--text"
        >
          Manejo de Productos
        </h1>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    <v-row>
      <v-col md="8">
        <h1 class="display-1 font-weight-thin mt-5">
          Editar un Producto
        </h1>
        <div class="wrapper2" no-gutters>
          <div class="productos-box">
            <ShowProducts :isEdit="true" />
          </div>
        </div>
      </v-col>
      <v-col md="4">
        <v-card>
          <v-row no-gutters>
            <v-col>
              <v-card class="mx-auto" flat>
                <v-card-title>
                  <h1 class="display-1 font-weight-thin ">Añadir Producto</h1>
                </v-card-title>
                <v-card-text>
                  <v-alert
                    v-model="errorAlert"
                    dismissible
                    outlined
                    type="error"
                    v-if="error"
                  >
                    <p v-for="message in error.data" :key="message.msg">
                      {{ message.msg }}
                    </p>
                  </v-alert>
                  <v-alert
                    v-model="successAlert"
                    dismissible
                    outlined
                    type="success"
                    v-if="success"
                  >
                    {{ success.message }}
                  </v-alert>
                  <validation-observer ref="observer" v-slot="{ handleSubmit }">
                    <v-form
                      @submit.prevent="handleSubmit(onSubmit)"
                      id="formRegister"
                      ref="formRegister"
                    >
                      <validation-provider
                        v-slot="{ errors }"
                        name="nombre"
                        rules="required"
                      >
                        <v-text-field
                          color="green"
                          label="Nombre"
                          v-model="nombre"
                          name="nombre"
                          outlined
                          rounded
                          :error-messages="errors"
                        />
                      </validation-provider>
                      <validation-provider
                        v-slot="{ errors }"
                        name="descripcion"
                        rules="max:120|required"
                      >
                        <v-textarea
                          counter="120"
                          outlined
                          color="green"
                          label="Descripcion del producto"
                          v-model="descripcion"
                          name="descripcion"
                          :error-messages="errors"
                        />
                      </validation-provider>
                      <template>
                        <v-file-input
                          name="picture"
                          accept="image/*"
                          label="Imagen del Producto"
                        ></v-file-input>
                      </template>
                      <v-divider></v-divider>
                      <validation-provider
                        v-slot="{ errors }"
                        name="cantidad"
                        rules="required"
                      >
                        <v-text-field
                          color="green"
                          label="Cantidad"
                          name="cantidad"
                          type="number"
                          v-model="cantidad"
                          :error-messages="errors"
                        />
                      </validation-provider>
                      <v-row align="center">
                        <v-spacer></v-spacer>
                        <v-col>
                          <validation-provider
                            v-slot="{ errors }"
                            name="precio"
                            rules="required"
                          >
                            <v-text-field
                              color="green"
                              label="Precio"
                              type="number"
                              name="precio"
                              v-model="precio"
                              :error-messages="errors"
                            />
                          </validation-provider>
                        </v-col>
                        <v-col>
                          <validation-provider
                            v-slot="{ errors }"
                            name="tipoVenta"
                            rules="required"
                          >
                            <v-radio-group
                              v-model="tipoVenta"
                              :mandatory="false"
                              :error-messages="errors"
                              name="tipoVenta"
                            >
                              <v-radio
                                color="green"
                                label="kg"
                                value="kg"
                              ></v-radio>
                              <v-radio
                                color="green"
                                label="pza"
                                value="pza"
                              ></v-radio>
                            </v-radio-group>
                          </validation-provider>
                        </v-col>
                        <v-spacer></v-spacer>
                      </v-row>
                      <validation-provider
                        v-slot="{ errors }"
                        name="proveedor"
                        rules="required"
                      >
                        <v-select
                          :items="proveedores"
                          item-text="nombre"
                          item-value="id"
                          return-object
                          v-model="proveedor"
                          label="Proveedor"
                          name="proveedor"
                          color="green"
                          dense
                          :error-messages="errors"
                        ></v-select>
                      </validation-provider>
                      <validation-provider
                        v-slot="{ errors }"
                        name="categoria"
                        rules="required"
                      >
                        <v-select
                          :items="categorias"
                          v-model="categoria"
                          label="Categoria"
                          name="categoria"
                          color="green"
                          dense
                          :error-messages="errors"
                        ></v-select>
                      </validation-provider>
                      <v-row align="center">
                        <v-col>
                          <validation-provider
                            v-slot="{ errors }"
                            name="minCompra"
                            rules="required"
                          >
                            <v-text-field
                              color="green"
                              label="Minimo de Compra"
                              type="number"
                              v-model="minCompra"
                              name="minCompra"
                              :error-messages="errors"
                            />
                          </validation-provider>
                        </v-col>
                        <v-col md="1">
                          <v-tooltip v-model="show" top color="green darken-2">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn icon v-bind="attrs" v-on="on">
                                <v-icon color="green darken-3"
                                  >mdi-information-outline</v-icon
                                >
                              </v-btn>
                            </template>
                            <p class="text-center">
                              Es lo mínimo que una persona puede comprar del
                              producto
                            </p>
                            <p class="text-center">Ejemplo para 100gr = 0.1</p>
                            <p class="text-center">Ejemplo para 3pz = 3</p>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                    </v-form>
                  </validation-observer>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-row align="center" align-content="space-between">
                    <v-spacer></v-spacer>
                    <v-btn
                      color="green darken-2"
                      type="submit"
                      form="formRegister"
                      class="ma-3"
                      dark
                      >Añadir Producto</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-row>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { required, max, min } from "vee-validate/dist/rules";
import es from "vee-validate/dist/locale/es.json";
import ShowProducts from "@/components/ShowProducts.vue";
import ApiService from "../services/ApiService";
import {
  extend,
  localize,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
setInteractionMode("eager");
localize("es", es);
extend("required", required);
extend("max", max);
extend("min", min);
export default {
  components: {
    ShowProducts,
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    alertDialog: false,
    id: "",
    nombre: "Platano",
    descripcion: "dgfasfd adsdaf",
    proveedor: { nombre: "Juan", id: 1 },
    precio: "35",
    imagen: "",
    cantidad: "12",
    minCompra: ".5",
    tipoVenta: "kg",
    categoria: "",
    show: false,
    error: null,
    errorAlert: false,
    success: null,
    successAlert: false,
    proveedores: [],
    categorias: ["fruta", "verdura", "cereal", "otro"]
  }),
  mounted() {
    ApiService.get("/proveedor")
      .then(response => {
        // handle success
        console.log(response);
        this.proveedores = response.data.data;
        console.log(response);
      })
      .catch(error => {
        // handle error
        console.log(error);
      });
  },
  computed: {},
  methods: {
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    getDefMinimo() {
      this.tipoVenta == "kg" ? (this.minCompra = 0.1) : (this.minCompra = 1);
    },
    onSubmit() {
      console.log(this.proveedor);
      // console.log(this.$refs.formRegister);
      /* formData */
      var formData = new FormData(this.$refs.formRegister.$el);
      formData.delete("proveedor");
      formData.append("proveedor", JSON.stringify(this.proveedor));
      console.log(...formData);
      // console.log(...formData);
      // for (var value of formData.values()) {
      //   console.log(value);
      // }
      /* AJAX request */
      ApiService.post("/product/", formData)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          console.log(response);
          console.log(response.data.data);
          this.$store.dispatch("cart/PRODUCTS_ADD", response.data.data);
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        });
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
<style scoped>
.wrapper2 {
  display: grid;
  grid-template-rows: 1fr;
  height: 90vh;
  overflow: auto;
  border-radius: 10px;
}
.productos-box {
  overflow-y: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
