<template>
  <v-container>
    <v-row align="center" no-gutters>
      <v-spacer></v-spacer>
      <v-col lg="8">
        <h1
          class="font-weight-light green--text text--darken-4 display-3  basil--text"
        >
          Manejo de Paquetes
        </h1>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    <v-row no-gutters>
      <v-col>
        <v-card width="100%" class="mx-auto mt-5" flat>
          <v-card-text>
            <v-alert
              v-model="errorAlert"
              dismissible
              outlined
              type="error"
              v-if="error"
            >
              <p v-for="message in error.data" :key="message.msg">
                {{ message.msg }}
              </p>
            </v-alert>
            <v-alert
              v-model="successAlert"
              dismissible
              outlined
              type="success"
              v-if="success"
            >
              {{ success.message }}
            </v-alert>
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
              <v-form
                @submit.prevent="handleSubmit(onSubmit)"
                id="formRegister"
                ref="formRegister"
              >
                <v-row no-gutters>
                  <v-col md="6" class="mt-2">
                    <v-card flat>
                      <v-card-title>
                        <h1
                          class="display-1 blue-grey--text font-weight-light text-center"
                        >
                          Informacion del Paquete
                        </h1>
                      </v-card-title>
                      <validation-provider
                        v-slot="{ errors }"
                        name="nombre"
                        rules="required"
                      >
                        <v-text-field
                          color="green"
                          label="Nombre del Paquete"
                          v-model="nombre"
                          name="nombre"
                          outlined
                          rounded
                          :error-messages="errors"
                        />
                      </validation-provider>
                      <validation-provider
                        v-slot="{ errors }"
                        name="descripcion"
                        rules="max:120|required"
                      >
                        <v-textarea
                          counter="120"
                          outlined
                          color="green"
                          label="Descripcion del paquete"
                          v-model="descripcion"
                          name="descripcion"
                          :error-messages="errors"
                        />
                      </validation-provider>
                      <template>
                        <validation-provider
                          v-slot="{ errors }"
                          name="imagen"
                          rules="required"
                        >
                          <v-file-input
                            name="imagen"
                            accept="image/*"
                            label="Imagen del Paquete"
                            :error-messages="errors"
                          ></v-file-input>
                        </validation-provider>
                      </template>
                      <v-divider></v-divider>

                      <validation-provider
                        v-slot="{ errors }"
                        name="precio"
                        rules="required"
                      >
                        <v-text-field
                          color="green"
                          label="Precio del Paquete"
                          type="number"
                          name="precio"
                          v-model="precio"
                          :error-messages="errors"
                        />
                      </validation-provider>
                    </v-card>
                  </v-col>
                  <v-col md="6">
                    <v-row no-gutters>
                      <v-card flat>
                        <v-card-title>
                          <v-col>
                            <h1
                              class="display-1 blue-grey--text ml-5 font-weight-light "
                            >
                              Contenido del Paquete
                            </h1>
                          </v-col>
                        </v-card-title>
                      </v-card>
                    </v-row>
                    <v-row no-gutters>
                      <v-dialog v-model="dialog" max-width="50%">
                        <template v-slot:activator="{ on, attrs }">
                          <v-row align="center" v-show="!editar">
                            <v-spacer></v-spacer>
                            <v-col>
                              <v-btn
                                rounded
                                color="blue-grey"
                                class=""
                                x-large
                                dark
                                v-bind="attrs"
                                v-on="on"
                              >
                                ANADIR PRODUCTO
                              </v-btn>
                              <h2
                                class=" blue-grey--text mt-5 ml-3 font-weight-light "
                              >
                                Lista de Productos
                              </h2>
                            </v-col>
                            <v-spacer></v-spacer>
                          </v-row>
                        </template>
                        <ShowProducts
                          :isAdmin="true"
                          @close-dialog="closeDialog"
                        />
                      </v-dialog>
                    </v-row>
                    <v-row no-gutters>
                      <v-spacer></v-spacer>
                      <v-col lg="10">
                        <div class="wrapper3" no-gutters>
                          <div class="productos-box" align="center"></div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-form>
            </validation-observer>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-row align="center" align-content="space-between">
              <v-spacer></v-spacer>
              <v-btn
                color="green darken-2"
                type="submit"
                form="formRegister"
                class="ma-3"
                x-large
                dark
                @click="onSubmit()"
                >Añadir Paquete</v-btn
              >
              <v-spacer></v-spacer>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <Footer />
  </v-container>
</template>
<script>
// eslint-disable-next-line no-use-before-define
import { required, max, min } from "vee-validate/dist/rules";
// eslint-disable-next-line no-use-before-define
import es from "vee-validate/dist/locale/es.json";
import ShowProducts from "@/components/ShowProducts.vue";
import Footer from "@/components/Footer.vue";
import {
  extend,
  localize,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
setInteractionMode("eager");
localize("es", es);
extend("required", required);
extend("max", max);
extend("min", min);
export default {
  components: {
    ShowProducts,
    Footer,
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    alertDialog: false,
    dialog: false,
    id: "",
    nombre: "",
    descripcion: "",
    proveedor: "",
    precio: "",
    imagen: "",
    cantidad: "",
    minCompra: "",
    kgpz: "kg",
    error: null,
    errorAlert: false,
    success: null,
    successAlert: false,
    proveedores: ["Juan", "Pedro", "Maria", "Cintia"]
  }),
  computed: {},
  methods: {
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    getDefMinimo() {
      this.kgpz == "kg" ? (this.minCompra = 0.1) : (this.minCompra = 1);
    },
    closeDialog() {
      this.dialog = false;
    },
    onSubmit() {
      console.log(this.$refs.formRegister);
      /* formData */
      var formData = new FormData(this.$refs.formRegister.$el);
      // console.log(...formData);
      // for (var value of formData.values()) {
      //   console.log(value);
      // }
      /* AJAX request */
      this.$store
        .dispatch("auth/AUTH_UPDATE", formData)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          }
        });
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
<style scoped>
.wrapper3 {
  display: grid;
  grid-gap: 1.5rem;

  background-color: white;
  grid-template-rows: 1fr;
  height: 40vh;
  padding: 1rem;
  overflow: auto;
  border-radius: 10px;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
