<template>
  <v-container>
    <Carousel />
    <v-row justify="center" class="mt-8">
      <SectionStoreCard
        title="TIENDA"
        color="amber"
        icon="mdi-storefront-outline"
      />
      <SectionStoreCard
        title="PAQUETES"
        color="green"
        icon="mdi-package-variant"
      />
      <SectionStoreCard title="OFERTAS" color="blue" icon="mdi-sale" />
    </v-row>
    <v-divider class="mt-10"></v-divider>
    <v-row justify="center" class="mb-8">
      <NewProducts />
    </v-row>
    <v-row justify="center" class="my-8">
      <OthersSections />

      <v-col>
        <Footer />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import SectionStoreCard from "@/components/SectionStoreCard.vue";
import Carousel from "@/components/Carousel.vue";
import NewProducts from "@/components/NewProd.vue";
import OthersSections from "@/components/OthersSections.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: {
    SectionStoreCard,
    Carousel,
    NewProducts,
    OthersSections,
    Footer
  }
};
</script>
