<template>
  <v-container>
    <v-app id="inspire" width="100%">
      <v-row no-gutters>
        <v-col lg="4" v-for="(reporte, index) in reportes" :key="index">
          <CardChart1 :info="reporte" :color="reporte.color" />
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="6">
          <v-card min-height="200px" color="blue-grey darken-2" dark>
            <v-row>
              <v-col lg="4">
                <v-card width="150px" class="ma-4">
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/john.jpg"
                    aspect-ratio="1"
                    alt="John"
                    rounded
                  ></v-img>
                </v-card>
              </v-col>
              <v-col>
                <h2 class="font-weight-thin text-center">
                  Empleado del Mes
                </h2>
                <h2 class="font-weight-regular text-center">
                  Juan Martinez
                </h2>
                <div class="font-weight-regular text-center">
                  PEDIDOS ATENDIDOS: 109
                </div>
                <div class="font-weight-regular text-center">
                  Record Diario: 10
                </div>
                <v-row align="center">
                  <v-col><v-spacer></v-spacer></v-col>
                  <v-col lg="5" align="center">
                    <v-btn block>Ver Todos</v-btn>
                  </v-col>
                  <v-col><v-spacer></v-spacer></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
          <v-spacer></v-spacer>
        </v-col>
        <v-col lg="6">
          <v-card min-height="200px" color="blue-grey darken-2" dark>
            <v-row>
              <v-col lg="4">
                <v-card width="150px" class="ma-4">
                  <v-img
                    src="../assets/images/products/jitomate.jpg"
                    aspect-ratio="1"
                    alt="John"
                    rounded
                  ></v-img>
                </v-card>
              </v-col>
              <v-col>
                <div class="display-1 font-weight-thin text-center">
                  Mas Vendido
                </div>
                <h2 class="font-weight-regular text-center">
                  Jitomate
                </h2>
                <div class="font-weight-regular text-center">
                  Cantida: 569 kg
                </div>
                <div class="font-weight-regular text-center">
                  Promedio Diario: 15 kg
                </div>
                <v-row align="center">
                  <v-col><v-spacer></v-spacer></v-col>
                  <v-col lg="5" align="center">
                    <v-btn block>Ver Reporte</v-btn>
                  </v-col>
                  <v-col><v-spacer></v-spacer></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
          <v-spacer></v-spacer>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col md="6" class="mb-5">
          <v-card class="pa-3 mr-2">
            <div
              class="green--text text--darken-2 display-1 font-weight-light text-center mb-2"
            >
              Reporte de Productos
            </div>
            <GChart
              style="width: 500px; height: 300px;"
              :settings="{ packages: ['bar'] }"
              :data="chartDataProdSales"
              :options="chartOptionsProdSales"
              :createChart="(el, google) => new google.charts.Bar(el)"
              @ready="onChartReady"
            />
          </v-card>
        </v-col>
        <v-col md="6" class="mb-5">
          <v-card class="pa-3">
            <div
              class="green--text text--darken-2 display-1 font-weight-light text-center mb-2"
            >
              Reporte Productos
            </div>
            <GChart
              style="width: 500px; height: 300px;"
              :settings="{ packages: ['bar'] }"
              :data="chartDataProdQt"
              :options="chartOptionsProdQt"
              :createChart="(el, google) => new google.charts.Bar(el)"
            />
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-card color="green darken-3" dark>
            <div class="display-1 font-weight-thin text-center">
              Desempeño de la Empresa
            </div>
            <GChart
              :settings="{ packages: ['bar'] }"
              :data="chartDataCompany"
              :options="chartOptionsCompany"
              :createChart="(el, google) => new google.charts.Bar(el)"
              @ready="onChartReady"
            />
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-card class="" color="blue darken-3" dark>
            <div class="display-1 font-weight-thin text-center mt-3">
              Reporte de Empleados
            </div>
            <GChart
              :settings="{ packages: ['bar'] }"
              :data="chartDataEmp"
              :options="chartOptionsEmp"
              :createChart="(el, google) => new google.charts.Bar(el)"
              @ready="onChartReady"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-app>
    <Footer />
  </v-container>
</template>

<script>
import CardChart1 from "@/components/CardChart1.vue";
import { GChart } from "vue-google-charts";
import Footer from "@/components/Footer.vue";
import ApiService from "../services/ApiService";
export default {
  components: { Footer, CardChart1, GChart },

  data() {
    return {
      reportes: [
        {
          nombre: "Ventas 24hrs",
          value: [423, 446, 675, 510, 590, 610, 100],
          color: "blue"
        },
        {
          nombre: "Pedidos 24hrs",
          value: [1, 4, 2, 5, 9, 6, 7],
          color: "green"
        },
        {
          nombre: "Pedidos Mes",
          value: [874, 446, 432, 510, 590, 610, 760],
          color: "red"
        }
      ],
      chartDataCompany: [
        ["Año", "Ventas", "Gastos", "Ganancias"],
        ["2017", 1000, 400, 600],
        ["2018", 2000, 500, 1500],
        ["2019", 3000, 2000, 1000],
        ["2020", 2000, 700, 1300]
      ],
      chartOptionsCompany: {
        chart: {
          title: "Desempeño de la Empresa",
          subtitle: ""
        }
      },
      chartDataProdSales: [["Producto", "Ventas $"]],
      chartOptionsProdSales: {
        chart: {
          title: "Reporte de Productos por Venta",
          subtitle: ""
        }
      },
      chartDataProdQt: [["Producto", "Cantidad"]],
      chartOptionsProdQt: {
        chart: {
          title: "Reporte de Productos por Cantidad",
          subtitle: ""
        }
      },
      chartsLib: null,
      // Array will be automatically processed with visualization.arrayToDataTable function
      chartDataEmp: [["Empleado", "Pedidos Atendidos"]],

      value: [423, 446, 675, 510, 590, 610, 760]
    };
  },
  mounted() {
    ApiService.get("/report/ProductosVenta")
      .then(response => {
        console.log(response);
        console.log(
          response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        );
        this.chartDataProdSales = [
          ...this.chartDataProdSales,
          ...response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        ];
      })
      .catch(err => {
        console.log(err);
      });
    ApiService.get("/report/ProductosCantidad")
      .then(response => {
        console.log(response);
        console.log(
          response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        );
        this.chartDataProdQt = [
          ...this.chartDataProdQt,
          ...response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        ];
      })
      .catch(err => {
        console.log(err);
      });
    ApiService.get("/report/Empleados")
      .then(response => {
        console.log(response);
        console.log(
          response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        );
        this.chartDataEmp = [
          ...this.chartDataEmp,
          ...response.data.data.results.map(val => {
            return [val._id, val.value];
          })
        ];
      })
      .catch(err => {
        console.log(err);
      });
  },
  computed: {
    chartOptionsEmp() {
      if (!this.chartsLib) return null;
      return this.chartsLib.charts.Bar.convertOptions({
        chart: {
          title: "Estadísticas del ultimo mes Mayo",
          subtitle: ""
        },
        bars: "horizontal", // Required for Material Bar Charts.
        hAxis: { format: "decimal" },
        height: 400,
        colors: ["#1b9e77", "#d95f02", "#7570b3"]
      });
    }
  },
  methods: {
    onChartReady(chart, google) {
      this.chartsLib = google;
    }
  }
};
</script>
