<template>
  <v-container>
    <v-card width="50%" class="mx-auto pa-2 mt-5 custmShadow">
      <v-card-title>
        <h1 class="display-1">Iniciar Sesión Docker</h1>
      </v-card-title>
      <v-card-text>
        <v-alert
          v-model="errorAlert"
          dismissible
          outlined
          type="error"
          v-if="error"
        >
          {{ error.message }}
        </v-alert>
        <v-form @submit.prevent="login" id="formLogin">
          <v-text-field
            label="Email"
            prepend-icon="mdi-email"
            v-model="email"
          />
          <v-text-field
            label="Contraseña"
            v-model="password"
            :type="showPassword ? 'text' : 'password'"
            prepend-icon="mdi-lock"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
          />
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-row align="center" align-content="space-between">
          <v-col>
            <p class="mb-0">Aún no tienes cuenta?</p>
            <v-btn class="mb-0" x-small color="secondary" to="/register"
              >Registrate</v-btn
            >
          </v-col>
          <v-btn color="info" type="submit" form="formLogin" class="ma-3"
            >Iniciar Sesión</v-btn
          >
        </v-row>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    showPassword: false,
    email: "",
    password: "",
    error: null,
    errorAlert: false
  }),
  computed: {},
  methods: {
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    login() {
      const { email, password } = this;
      this.$store
        .dispatch("auth/AUTH_REQUEST", { email, password })
        .then(() => {
          this.errorAlert = false;
          this.$router.push("/");
        })
        .catch(error => {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
            this.error = error.response.data;
            this.errorAlert = true;
            if (error.response.status == "500") {
              this.error = {
                data: [
                  {
                    msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                  }
                ]
              };
            }
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log("Error", error.message);
          }
          console.log(error.config);
        });
    }
  }
};
</script>
<style scoped>
.custmShadow {
  background-color: white;
  box-shadow: 0 5px 10px rgba(39, 76, 224, 0.11),
    0 15px 40px rgba(126, 150, 245, 0.2);
}
</style>
