<template>
  <v-container>
    <v-app id="inspire" width="80%">
      <v-card flat>
        <v-row justify="space-between">
          <v-card-title class="text-center justify-start py-6">
            <h1
              class="font-weight-light green--text text--darken-4 display-3 basil--text"
            >
              MIS PEDIDOS
            </h1>
          </v-card-title>
        </v-row>
        <v-divider></v-divider>
        <v-tabs
          class="mt-5"
          v-model="tab"
          background-color="white"
          centered
          color="black"
          icons-and-text
        >
          <v-tab href="#nuevos">
            <h2 class="font-weight-regular  orange--text text--darken-2">
              Nuevos
            </h2>
            <v-icon color="orange darken-2">mdi-clock-fast</v-icon>
          </v-tab>
          <v-tab-item value="nuevos">
            <v-card flat tile>
              <v-row justify="center" no-gutters>
                <p
                  v-for="(pedido, index) in pedidosRemote"
                  :key="index"
                  no-gutters
                  class="ma-0"
                >
                  <v-col v-if="pedido.status == 1">
                    <OrderDesign :order="pedido" :isAdmin="true" />
                  </v-col>
                </p>
              </v-row>
            </v-card>
          </v-tab-item>
          <v-tab href="#aceptados">
            <h2
              class="font-weight-regular  blue--text text--darken-2 basil--text"
            >
              Aceptados
            </h2>
            <v-icon color="blue">mdi-clipboard-check-outline</v-icon>
          </v-tab>
          <v-tab-item value="aceptados">
            <v-row justify="center">
              <p v-for="(pedido, index) in pedidosRemote" :key="index">
                <v-col v-if="pedido.status == 2">
                  <OrderDesign :order="pedido" :isAdmin="true" />
                </v-col>
              </p>
            </v-row>
          </v-tab-item>
          <v-tab href="#preparando">
            <h2
              class="font-weight-regular  yellow--text text--darken-2 basil--text"
            >
              Preparando
            </h2>
            <v-icon color="yellow darken-2">mdi-clipboard-check-outline</v-icon>
          </v-tab>
          <v-tab-item value="preparando">
            <v-row justify="center">
              <p v-for="(pedido, index) in pedidosRemote" :key="index">
                <v-col v-if="pedido.status == 3">
                  <OrderDesign :order="pedido" :isAdmin="true" />
                </v-col>
              </p>
            </v-row>
          </v-tab-item>
          <v-tab href="#paraEntregar">
            <h2
              class="font-weight-regular  green--text text--darken-2 basil--text"
            >
              Listo Para entregar
            </h2>
            <v-icon color="green darken-2">mdi-clipboard-check-outline</v-icon>
          </v-tab>
          <v-tab-item value="paraEntregar">
            <v-row justify="center">
              <p v-for="(pedido, index) in pedidosRemote" :key="index">
                <v-col v-if="pedido.status == 4">
                  <OrderDesign :order="pedido" :isAdmin="true" />
                </v-col>
              </p>
            </v-row>
          </v-tab-item>
          <v-tab href="#realizados">
            <h2
              class="font-weight-regular  red--text text--darken-2 basil--text"
            >
              REALIZADOS
            </h2>
            <v-icon color="red darken-2">mdi-clipboard-check-outline</v-icon>
          </v-tab>
          <v-tab-item value="realizados">
            <v-row justify="center">
              <p v-for="(pedido, index) in pedidosRemote" :key="index">
                <v-col v-if="pedido.status == 5">
                  <OrderDesign :order="pedido" :isAdmin="true" />
                </v-col>
              </p>
            </v-row>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-app>
    <Footer />
  </v-container>
</template>

<script>
import Footer from "@/components/Footer.vue";
import OrderDesign from "@/components/OrderDesign.vue";
export default {
  mounted: function() {
    // `this` points to the vm instance
    this.$store.dispatch("cart/ORDERS_GET");
  },
  computed: {
    pedidosRemote() {
      return this.$store.getters["cart/getOrders"];
    }
  },
  data: () => ({
    tab: "",
    pedidos: [
      {
        id: "234A",
        fecha: "12/10/20 20:53",
        total: 129,

        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ],
        usuario: "Javier",
        estado: 1
      },
      {
        id: "4533",
        fecha: "12/10/20 20:53",
        total: 129,
        horaEstimada: "21:31",

        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ],
        empleado: "Juan",
        usuario: "Pedro",
        estado: 2
      },
      {
        id: "SX123",
        fecha: "12/10/20 20:53",
        total: 129,
        horaEstimada: "21:31",

        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ],
        empleado: "Juan",
        usuario: "Pedro",
        estado: 3
      },
      {
        id: "PT13L",
        fecha: "12/10/20 20:53",
        total: 129,

        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ],
        empleado: "Juan",
        usuario: "Pedro",
        estado: 4
      },
      {
        id: "GT04",
        fecha: "12/10/20 20:53",
        total: 129,
        fechaEntrega: "12/10/20 21:33",
        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ],
        empleado: "Juan",
        usuario: "Pedro",
        estado: 5
      }
    ]
  }),
  components: { Footer, OrderDesign }
};
</script>
