<template>
  <v-container>
    <v-row align="center">
      <v-col align="center">
        <v-card
          max-height="200px"
          max-width="200px"
          aspect-ratio="1"
          align="center"
        >
          <v-img
            :src="this.$store.getters['auth/getProfilePic']"
            aspect-ratio="1"
            height="200px"
          >
          </v-img>
        </v-card>
        <div
          class="black--text text--darken-1 display-1 font-weight-regular mt-2"
        >
          {{ this.nombre }} {{ this.apellidos }}
        </div>
        <v-btn
          :color="!show ? 'green darken-3' : 'red'"
          @click="mostrar()"
          class="ma-3"
          dark
        >
          {{ !show ? "Mostrar mi Informacion" : "Ocultar mi información" }}
        </v-btn>
      </v-col>
    </v-row>
    <v-container class="d-flex">
      <v-btn
        v-show="!show"
        color="red darken-2"
        @click="logout()"
        class="ma-3 mx-auto"
        dark
      >
        Cerrar Sesión
        <v-icon class="ml-2">
          mdi-logout-variant
        </v-icon>
      </v-btn>
    </v-container>
    <v-container class="d-flex">
      <v-alert
        v-model="errorAlert"
        dismissible
        outlined
        type="error"
        v-if="error"
        class="mx-auto"
      >
        <p v-for="message in error.data" :key="message.msg">
          {{ message.msg }}
        </p>
      </v-alert>
      <v-alert
        v-model="successAlert"
        dismissible
        outlined
        type="success"
        v-if="success"
        class="mx-auto"
      >
        {{ success.message }}
      </v-alert>
    </v-container>
    <v-row>
      <v-col>
        <v-card width="400" class="mx-auto mt-5" v-show="show">
          <v-card-title>
            <h1 class="display-1">Mi Perfil</h1>
          </v-card-title>
          <v-card-text>
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
              <v-form
                @submit.prevent="handleSubmit(onSubmit)"
                id="formRegister"
                ref="formRegister"
              >
                <validation-provider
                  v-slot="{ errors }"
                  name="nombre"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Nombre"
                    v-model="nombre"
                    name="nombre"
                    :error-messages="errors"
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="apellidos"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Apellidos"
                    v-model="apellidos"
                    name="apellidos"
                    :error-messages="errors"
                  />
                </validation-provider>
                <template>
                  <v-file-input
                    :disabled="disabled"
                    name="profile"
                    accept="image/*"
                    label="Imagen de Perfil"
                  ></v-file-input>
                </template>
                <v-divider></v-divider>
                <validation-provider
                  v-slot="{ errors }"
                  name="calle"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Calle"
                    name="calle"
                    v-model="calle"
                    :error-messages="errors"
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="estado"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Estado"
                    v-model="estado"
                    name="estado"
                    :error-messages="errors"
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="municipio"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Municipio"
                    v-model="municipio"
                    name="municipio"
                    :error-messages="errors"
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="código postal"
                  rules="required"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Código postal"
                    name="cp"
                    v-model="cp"
                    :error-messages="errors"
                  />
                </validation-provider>
                <v-divider></v-divider>
                <validation-provider
                  v-slot="{ errors }"
                  name="Email"
                  rules="required|email"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Email"
                    v-model="email"
                    name="email"
                    :error-messages="errors"
                  />
                  <v-text-field
                    v-show="false"
                    type="hidden"
                    v-model="id"
                    name="id"
                    solo
                    flat
                  />
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="Contraseña"
                  rules="min:6"
                >
                  <v-text-field
                    :disabled="disabled"
                    label="Nueva Contraseña"
                    v-model="password"
                    name="password"
                    :type="showPassword ? 'text' : 'password'"
                    :error-messages="errors"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                  />
                </validation-provider>
              </v-form>
            </validation-observer>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-row align="center" align-content="space-between">
              <v-col>
                <v-btn
                  v-show="disabled"
                  color="error"
                  class="ma-3"
                  @click="alertDialog = true"
                  >Eliminar Cuenta</v-btn
                >
                <v-btn
                  v-show="!disabled"
                  color="grey"
                  class="ma-3"
                  @click="editar()"
                  >Cancelar</v-btn
                >
              </v-col>
              <v-btn
                v-show="disabled"
                color="green darken-2"
                class="ma-3"
                dark
                @click="editar()"
                >Editar</v-btn
              >
              <v-btn
                v-show="!disabled"
                color="green"
                type="submit"
                form="formRegister"
                class="ma-3"
                @click="mostrar()"
                >Enviar</v-btn
              >
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="alertDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >Seguro que quieres eliminar la cuenta?</v-card-title
        >

        <v-card-text>
          Se perderan todos tus historiales de compra, asi como tus plantillas
          personalizadas. Además te perderas de grandes ofertas y productos!
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey darken-3" text @click="alertDialog = false">
            Cancelar
          </v-btn>

          <v-btn color="red darken-1" text @click="eliminarCuenta">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
// eslint-disable-next-line no-use-before-define
import { required, email, max, min } from "vee-validate/dist/rules";
// eslint-disable-next-line no-use-before-define
import es from "vee-validate/dist/locale/es.json";
import {
  extend,
  localize,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
setInteractionMode("eager");
localize("es", es);
extend("required", required);
extend("email", email);
extend("max", max);
extend("min", min);
export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      alertDialog: false,
      show: false,
      disabled: true,
      showPassword: false,
      id: this.$store.getters["auth/getUserData"]._id,
      nombre: "",
      apellidos: "",
      calle: "",
      cp: "",
      estado: "",
      municipio: "",
      email: "",
      password: "",
      ...this.$store.getters["auth/getUserData"],
      error: null,
      errorAlert: false,
      success: null,
      successAlert: false
    };
  },

  computed: {},
  methods: {
    eliminarCuenta() {
      this.$store.dispatch("auth/AUTH_DELETE_ACC");
      this.alertDialog = false;
    },
    mostrar() {
      this.show = !this.show;
    },
    editar() {
      this.disabled = !this.disabled;
    },
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    onSubmit() {
      console.log(this.$refs.formRegister);
      /* formData */
      var formData = new FormData(this.$refs.formRegister.$el);
      // console.log(...formData);
      // for (var value of formData.values()) {
      //   console.log(value);
      // }
      /* AJAX request */
      if (this.password === "") formData.delete("password");
      this.$store
        .dispatch("auth/AUTH_UPDATE", formData)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          }
        });
    },
    logout() {
      this.$store.dispatch("auth/AUTH_LOGOUT");
      this.$router.push("/Dashboard");
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
