<template>
  <v-container>
    <v-card width="50%" class="mx-auto mt-5 pa-3 custmShadow">
      <v-card-title>
        <h1 class="display-1">Registrarse</h1>
      </v-card-title>
      <v-card-text>
        <v-alert
          v-model="errorAlert"
          dismissible
          outlined
          type="error"
          v-if="error"
        >
          <p v-for="message in error.data" :key="message.msg">
            {{ message.msg }}
          </p>
        </v-alert>
        <v-alert
          v-model="successAlert"
          dismissible
          outlined
          type="success"
          v-if="success"
        >
          {{ success.message }}
        </v-alert>
        <validation-observer ref="observer" v-slot="{ handleSubmit }">
          <v-form
            @submit.prevent="handleSubmit(onSubmit)"
            id="formRegister"
            ref="formRegister"
          >
            <validation-provider
              v-slot="{ errors }"
              name="nombre"
              rules="required"
            >
              <v-text-field
                label="Nombre"
                v-model="nombre"
                name="nombre"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="apellidos"
              rules="required"
            >
              <v-text-field
                label="Apellidos"
                v-model="apellidos"
                name="apellidos"
                :error-messages="errors"
              />
            </validation-provider>
            <template>
              <v-file-input
                name="profile"
                accept="image/*"
                label="Imagen de Perfil"
              ></v-file-input>
            </template>
            <v-divider></v-divider>
            <validation-provider
              v-slot="{ errors }"
              name="calle"
              rules="required"
            >
              <v-text-field
                label="Calle"
                name="calle"
                v-model="calle"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="estado"
              rules="required"
            >
              <v-text-field
                label="Estado"
                v-model="estado"
                name="estado"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="municipio"
              rules="required"
            >
              <v-text-field
                label="Municipio"
                v-model="municipio"
                name="municipio"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="código postal"
              rules="required"
            >
              <v-text-field
                label="Código postal"
                name="cp"
                v-model="CP"
                :error-messages="errors"
              />
            </validation-provider>
            <v-divider></v-divider>
            <validation-provider
              v-slot="{ errors }"
              name="Email"
              rules="required|email"
            >
              <v-text-field
                label="Email"
                v-model="email"
                name="email"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Contraseña"
              rules="required|min:6"
            >
              <v-text-field
                label="Contraseña"
                v-model="password"
                name="password"
                :type="showPassword ? 'text' : 'password'"
                :error-messages="errors"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
              />
            </validation-provider>
          </v-form>
        </validation-observer>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-row align="center" align-content="space-between">
          <v-col>
            <p class="mb-0">Ya tienes cuenta?</p>
            <v-btn class="mb-0" x-small color="secondary" to="login"
              >Inicia Sesión</v-btn
            >
          </v-col>
          <v-btn color="info" type="submit" form="formRegister" class="ma-3"
            >Registrarse</v-btn
          >
        </v-row>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import ApiService from "../services/ApiService";
// eslint-disable-next-line no-use-before-define
import { required, email, max, min } from "vee-validate/dist/rules";
// eslint-disable-next-line no-use-before-define
import es from "vee-validate/dist/locale/es.json";
import {
  extend,
  localize,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
setInteractionMode("eager");
localize("es", es);
extend("required", required);
extend("email", email);
extend("max", max);
extend("min", min);
export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    showPassword: false,
    nombre: "Erik",
    apellidos: "Gonzalez",
    calle: "DDavas",
    CP: "20199",
    estado: "Aguas",
    municipio: "Aguas",
    email: "borredrilo@gmail.com",
    password: "Test",
    error: null,
    errorAlert: false,
    success: null,
    successAlert: false
  }),
  computed: {},
  methods: {
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    onSubmit() {
      console.log(this.$refs.formRegister);
      /* formData */
      var formData = new FormData(this.$refs.formRegister.$el);
      // console.log(...formData);
      // for (var value of formData.values()) {
      //   console.log(value);
      // }
      /* AJAX request */
      ApiService.customRequest({
        method: "post",
        url: "/auth/register",
        data: formData,
        config: { headers: { "Content-Type": "multipart/form-data" } }
      })
        .then(response => {
          console.log(response.data);
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
        })
        .catch(error => {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
            this.error = error.response.data;
            this.errorAlert = true;
            this.successAlert = false;
            if (error.response.status == "500") {
              this.error = {
                data: [
                  {
                    msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                  }
                ]
              };
            }
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log("Error", error.message);
          }
          console.log(error.config);
        });
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
<style scoped>
.custmShadow {
  background-color: white;
  box-shadow: 0 5px 10px rgba(39, 76, 224, 0.11),
    0 15px 40px rgba(126, 150, 245, 0.2);
}
</style>
