<template>
  <v-container>
    <v-app id="inspire" width="80%">
      <v-card flat>
        <v-row justify="space-between">
          <v-card-title class="text-center justify-start py-6">
            <h1
              class="font-weight-light green--text text--darken-4 display-3 basil--text"
            >
              TIENDA
            </h1>
          </v-card-title>
          <v-spacer></v-spacer>
          <v-col md="3">
            <v-text-field
              label="Buscar en la Tienda"
              class="text-center "
              filled
              outlined
              rounded
              append-icon="mdi-magnify"
              background-color="white"
              color="green darken-4"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-tabs
          class="mt-5"
          v-model="tab"
          background-color="white"
          centered
          color="green darken-4"
          icons-and-text
          hide-slider
        >
          <v-tab href="#pasillos">
            <h2 class="font-weight-light  ">Pasillos</h2>
            <v-icon>mdi-arrow-decision-outline</v-icon>
          </v-tab>
          <v-tab-item value="pasillos">
            <v-card flat tile>
              <v-card-text>
                <Pasillos />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab href="#paquetes">
            <h2 class="font-weight-light  basil--text">Paquetes</h2>
            <v-icon>mdi-package-variant</v-icon>
          </v-tab>
          <v-tab-item value="paquetes">
            <Paquetes />
          </v-tab-item>
          <v-tab href="#ofertas">
            <h2 class="font-weight-light  basil--text">Ofertas</h2>
            <v-icon>mdi-sale</v-icon>
          </v-tab>
          <v-tab-item value="ofertas">
            <Ofertas />
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-app>

    <Footer />
  </v-container>
</template>

<script>
import Pasillos from "@/components/Pasillos.vue";
import Paquetes from "@/components/Paquetes.vue";
import Ofertas from "@/components/Ofertas.vue";
import Footer from "@/components/Footer.vue";
export default {
  data: () => ({
    tab: null
  }),
  components: { Pasillos, Paquetes, Footer, Ofertas }
};
</script>
