<template>
  <v-container>
    <v-app id="inspire" width="80%">
      <v-sheet flat>
        <h1
          class="font-weight-light green--text text--darken-4 display-2 mb-5 basil--text"
        >
          MIS PLANTILLAS
        </h1>
        <v-row class="fill-height">
          <v-col
            v-for="(plantilla, index) in plantillas"
            :key="index"
            md="4"
            align="center"
            class="fill-height mx-auto"
          >
            <TemplateCardDesign
              :plantilla="plantilla"
              @close-dialog="closeDialog"
            />
          </v-col>
        </v-row>
      </v-sheet>
    </v-app>
    <Footer />
  </v-container>
</template>

<script>
import TemplateCardDesign from "@/components/TemplateCardDesign.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: { Footer, TemplateCardDesign },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  },
  data: () => ({
    dialog: false,
    plantillas: [
      {
        nombre: "Mi Mandado",
        color: "blue",
        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ]
      },
      {
        nombre: "Mandado Tia",
        color: "yellow",
        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ]
      },
      {
        nombre: "Despensa Mamá",
        color: "green",
        productos: [
          {
            nombre: "Limon",
            imagen: require("../assets/images/products/limon.jpg"),
            precio: 15.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Naranja",
            imagen: require("../assets/images/products/naranja.jpg"),
            precio: 12.9,
            cantidad: 2,
            categoria: "Frutas"
          },
          {
            nombre: "Aguacate",
            imagen: require("../assets/images/products/aguacate.jpg"),
            precio: 49.9,
            cantidad: 2,
            categoria: "Verduras"
          }
        ]
      }
    ]
  })
};
</script>
