<template>
  <v-card
    flat
    max-height="50%"
    color="transparent"
    class="mx-auto coverCard cardBorder"
  >
    <v-carousel
      cycle
      hide-delimiter-background
      show-arrows-on-hover
      class="coverCard cardBorder"
    >
      <v-carousel-item
        v-for="(paquete, i) in paquetes"
        :key="i"
        class="coverCard cardBorder"
      >
        <v-sheet height="100%" class="coverCard cardBorder">
          <v-img
            :src="paquete.imagen"
            gradient="1deg, rgba(0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0)"
            min-height="100%"
            cover
          >
            <v-row
              class="fill-height"
              align="center"
              justify="center"
              no-gutters
            >
              <div class="display-3 font-weight-regular mr-5">Paquete</div>
              <div class="display-3 font-weight-light mr-10">
                {{ paquete.nombre }}
              </div>
            </v-row>
          </v-img>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
  </v-card>
</template>

<script>
export default {
  name: "Carousel",
  data() {
    return {
      paquetes: [
        {
          nombre: "Carne Asada",
          imagen: require("../assets/images/carne_asada.jpg"),
          precio: 199.9
        },
        {
          nombre: "Despensa",
          imagen: require("../assets/images/despensa.jpg"),
          precio: 149.9
        },
        {
          nombre: "Fiesta",
          imagen: require("../assets/images/fiesta.jpg"),
          precio: 249.9
        }
      ]
    };
  }
};
</script>
<style scoped>
.cardBorder {
  border-radius: 20px 20px 20px 20px;
}
.coverCard {
  overflow: hidden;
}
</style>
