<template>
  <div class="wrapper" no-gutters>
    <div class="productos-box" align="center">
      <v-sheet color="white" tile min-height="100%">
        <v-container>
          <v-spacer></v-spacer>
          <v-sheet max-width="90%" max-height="80%" class="mt-5">
            <v-row no-gutters>
              <v-col md="3"
                ><div class=" font-weight-light grey--text darken-4">
                  PRODUCTO
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  PRECIO
                </div>
              </v-col>
              <v-col md="2.5">
                <div class=" font-weight-light grey--text darken-4">
                  CANTIDAD
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  SUBTOTAL
                </div>
              </v-col>
              <v-col md=".5">
                <div class=" font-weight-light grey--text darken-4"></div>
              </v-col>
            </v-row>
            <v-row
              v-for="(cartProduct, index) in cartProducts"
              :key="index"
              align="center"
            >
              <v-col md="3">
                <v-card
                  min-height="60%"
                  min-width="60%"
                  max-height="60%"
                  max-width="60%"
                  flat
                >
                  <v-img
                    :src="cartProduct.picture.src"
                    aspect-ratio="1.2"
                    cover
                  >
                  </v-img>
                </v-card>

                <div
                  class=" font-weight-regular green--text text--darken-3 mt-2"
                >
                  {{ cartProduct.nombre }}
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio }}
                </div>
              </v-col>
              <v-col md="2.5">
                <v-row no-gutters align="center">
                  <v-col>
                    <div class=" font-weight-regular black--text">
                      <v-text-field
                        type="number"
                        v-model="cartProduct.cantidad"
                        color="green"
                      ></v-text-field>
                    </div>
                  </v-col>
                  <div class=" font-weight-regular black--text">
                    kg
                  </div>
                </v-row>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio * cartProduct.cantidad }}
                </div>
              </v-col>
              <v-col md=".5">
                <v-card
                  class="ma-1"
                  @click="removeProduct(cartProduct)"
                  color="red lighten-3"
                  flat
                >
                  <v-icon>mdi-trash-can</v-icon>
                </v-card>
              </v-col>
            </v-row>
          </v-sheet>
          <v-spacer></v-spacer>
        </v-container>
      </v-sheet>
    </div>
    <div class="pago-box">
      <v-sheet color="green lighten-4" min-height="100%" tile>
        <v-row>
          <v-col md="7">
            <v-sparkline
              height="15px"
              color="green darken-2"
              :value="value"
              line-width="6"
              class="pa-5"
              smooth
              stroke-linecap="round"
            ></v-sparkline>
          </v-col>
        </v-row>
        <v-alert
          v-model="errorAlert"
          dismissible
          outlined
          type="error"
          v-if="error"
        >
          <p v-for="message in error.data" :key="message.msg">
            {{ message.msg }}
          </p>
        </v-alert>
        <v-alert
          v-model="successAlert"
          dismissible
          outlined
          type="success"
          v-if="success"
        >
          {{ success.message }}
        </v-alert>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="4" dense>
            <h4 class=" font-weight-regular grey--text text--darken-2 mt-5 ">
              Usted ha ahorrado:
            </h4>
          </v-col>
          <v-col md="1">
            <h4 class=" font-weight-bold grey--text text--darken-3 mt-12">
              ${{ (totalCompra * 0.1).toFixed(2) }}
            </h4>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="4" dense>
            <h4 class=" font-weight-regular grey--text text--darken-2  ">
              Costo de envío:
            </h4>
          </v-col>
          <v-col md="1">
            <h4 class=" font-weight-regular grey--text text--darken-3  ">
              $25.00
            </h4>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="4" dense>
            <h4 class=" font-weight-regular grey--text text--darken-2  ">
              Propína:
            </h4>
          </v-col>
          <v-col md="1">
            <h4 class=" font-weight-regular grey--text text--darken-3  ">
              $10.00
            </h4>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="8" dense>
            <v-divider></v-divider>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="6" dense>
            <h3 class=" font-weight-regular grey--text text--darken-2 mt-5 ">
              TOTAL DE LA COMPRA:
            </h3>
          </v-col>
          <v-col md="3">
            <h1 class=" font-weight-regular grey--text text--darken-3 mt-5">
              ${{ totalCompra.toFixed(2) }}
            </h1>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="8" dense> </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="end" justify="center" no-gutters>
          <v-spacer></v-spacer>
          <v-col md="5">
            <h3 class=" font-weight-regular grey--text text--darken-2 mt-5">
              Método de Pago:
            </h3>
          </v-col>
          <v-col md="3" centered>
            <v-card color="green" align="center" @click="alert(1)" class="ml-2">
              <v-icon color="green darken-4">mdi-cash-multiple</v-icon>
            </v-card>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="end" justify="center" no-gutters>
          <h3 class=" font-weight-regular grey--text text--darken-2 mt-5">
            Seleccionar tipo de Embalaje:
          </h3>
        </v-row>
        <v-row align="center" justify="center" no-gutters class="mt-2">
          <v-spacer></v-spacer>

          <v-col md="2" align="center">
            <v-card
              :color="
                embalaje == 1 ? 'blue-grey darken-2' : 'blue-grey lighten-2'
              "
              align="center"
              justify="center"
              @click="changeEmb(1)"
              class="ml-2"
              min-height="50px"
              :dark="embalaje == 1"
            >
              <v-row align="center">
                <v-spacer>
                  <v-icon>mdi-package-variant</v-icon>
                </v-spacer>
              </v-row>
              <v-row align="center">
                <v-spacer>
                  <h3 class=" font-weight-regular">
                    Caja
                  </h3>
                </v-spacer>
              </v-row>
            </v-card>
          </v-col>
          <v-col md="2" align="center">
            <v-card
              :color="
                embalaje == 2 ? 'blue-grey darken-2' : 'blue-grey lighten-2'
              "
              align="center"
              justify="center"
              @click="changeEmb(2)"
              class="ml-2"
              min-height="50px"
              :dark="embalaje == 2"
            >
              <v-row align="center">
                <v-spacer>
                  <v-icon>mdi-shopping</v-icon>
                </v-spacer>
              </v-row>
              <v-row align="center">
                <v-spacer>
                  <h3 class=" font-weight-regular">
                    Bolsa
                  </h3>
                </v-spacer>
              </v-row>
            </v-card>
          </v-col>
          <v-col md="2" align="center">
            <v-card
              :color="
                embalaje == 3 ? 'blue-grey darken-2' : 'blue-grey lighten-2'
              "
              align="center"
              justify="center"
              @click="changeEmb(3)"
              class="ml-2"
              min-height="50px"
              :dark="embalaje == 3"
            >
              <v-row align="center">
                <v-spacer>
                  <v-icon>mdi-chess-bishop</v-icon>
                </v-spacer>
              </v-row>
              <v-row align="center">
                <v-spacer>
                  <h3 class=" font-weight-regular">
                    Costal
                  </h3>
                </v-spacer>
              </v-row>
            </v-card>
          </v-col>

          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              color="green darken-2"
              class="mt-5"
              x-large
              dark
              @click="registrarOrden"
            >
              Proceder con la compra
            </v-btn>
            <v-checkbox
              color="blue darken-3"
              value="blue darken-3"
              label="Agregar a Pedidos Personalizados"
            ></v-checkbox>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>

        <v-row>
          <v-spacer></v-spacer>
          <v-btn rounded color="blue darken-4" class="mt-2" dark>
            Solo Agregar a Pedido Personalizado
          </v-btn>
          <v-spacer></v-spacer>
        </v-row>
      </v-sheet>
    </div>
  </div>
</template>
<script>
import ApiService from "../services/ApiService";
export default {
  name: "Cart",
  computed: {
    cartProducts() {
      return this.$store.getters["cart/getProductos"];
    },
    totalCompra() {
      return (
        this.cartProducts
          .map(el => el.precio * el.cantidad)
          .reduce((acc, cur) => acc + cur, 0) + 35
      );
    }
  },
  methods: {
    changeEmb(opt) {
      this.embalaje = opt;
    },
    removeProduct(cartProduct) {
      this.$store.dispatch("cart/CART_REMOVE_PROD", cartProduct);
    },
    registrarOrden() {
      const data = { productos: this.cartProducts, total: this.totalCompra };
      ApiService.post("/order/", data)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          setTimeout(() => {
            this.$router.push({ path: "/orders" });
            this.$emit("close-cart");
          }, 5000);
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        });
    }
  },
  data() {
    return {
      embalaje: 1,
      value: [-8, -8],
      error: null,
      errorAlert: false,
      success: null,
      successAlert: false
    };
  }
};
</script>
<style>
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  grid-template-rows: 1fr;
  background-color: #f3f7fa;
  color: #444;
  height: 90vh;
  padding: 1rem;
  overflow: auto;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}
.pago-box {
  grid-column: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
