<template>
  <v-card min-height="500px" class="pa-0">
    <v-card-title class=" d-flex elevation-1">
      <h3 class="green--text font-weight-bold text-center text--darken-2">
        {{ nombre }}
      </h3>
      <v-icon color="green darken-2" class="ml-auto">
        mdi-phone
      </v-icon>
    </v-card-title>
    <v-card color="" min-height="380px" flat tile> </v-card>

    <v-text-field
      label="Escribe un Mensaje"
      solo
      color="green darken-2"
      class="mt-3 mx-6"
      append-outer-icon="mdi-send"
      dense
    ></v-text-field>
  </v-card>
</template>
<script>
export default {
  props: {
    nombre: {
      type: String,
      required: true
    }
  }
};
</script>
