<template>
  <v-card>
    <v-card flat>
      <v-card-title>
        <h1 class="display-1 font-weight-thin ">
          Editar Producto {{ product.nombre }}
        </h1>
      </v-card-title>
      <v-card-text>
        <v-alert
          v-model="errorAlert"
          dismissible
          outlined
          type="error"
          v-if="error"
        >
          <p v-for="message in error.data" :key="message.msg">
            {{ message.msg }}
          </p>
        </v-alert>
        <v-alert
          v-model="successAlert"
          dismissible
          outlined
          type="success"
          v-if="success"
        >
          {{ success.message }}
        </v-alert>
        <validation-observer
          :ref="`observer_${product._id}`"
          v-slot="{ handleSubmit }"
        >
          <v-form
            @submit.prevent="handleSubmit(updateProduct)"
            :id="`formUpdate_${product._id}`"
            :ref="`formUpdate_${product._id}`"
          >
            <validation-provider
              v-slot="{ errors }"
              name="nombre"
              rules="required"
            >
              <v-text-field
                color="green"
                label="Nombre"
                v-model="nombre"
                name="nombre"
                :value="product.nombre"
                outlined
                rounded
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="descripcion"
              rules="max:120|required"
            >
              <v-textarea
                counter="120"
                outlined
                color="green"
                label="Descripcion del producto"
                v-model="descripcion"
                name="descripcion"
                :error-messages="errors"
              />
            </validation-provider>
            <template>
              <v-file-input
                name="picture"
                accept="image/*"
                label="Imagen del Producto"
              ></v-file-input>
            </template>
            <v-divider></v-divider>
            <validation-provider
              v-slot="{ errors }"
              name="cantidad"
              rules="required"
            >
              <v-text-field
                color="green"
                label="Cantidad"
                name="cantidad"
                type="number"
                v-model="cantidad"
                :error-messages="errors"
              />
            </validation-provider>
            <v-row align="center">
              <v-spacer></v-spacer>
              <v-col>
                <validation-provider
                  v-slot="{ errors }"
                  name="precio"
                  rules="required"
                >
                  <v-text-field
                    color="green"
                    label="Precio"
                    type="number"
                    name="precio"
                    v-model="precio"
                    :error-messages="errors"
                  />
                </validation-provider>
                <v-text-field
                  color="green"
                  label="Precio Oferta"
                  v-model="precioOferta"
                  name="precioOferta"
                  outlined
                  rounded
                />
              </v-col>
              <v-col>
                <validation-provider
                  v-slot="{ errors }"
                  name="tipoVenta"
                  rules="required"
                >
                  <v-radio-group
                    v-model="tipoVenta"
                    :mandatory="false"
                    :error-messages="errors"
                    name="tipoVenta"
                  >
                    <v-radio color="green" label="kg" value="kg"></v-radio>
                    <v-radio color="green" label="pz" value="pz"></v-radio>
                  </v-radio-group>
                </validation-provider>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
            <validation-provider
              v-slot="{ errors }"
              name="proveedor"
              rules="required"
            >
              <v-select
                :items="proveedores"
                item-text="nombre"
                item-value="id"
                return-object
                v-model="proveedor"
                label="Proveedor"
                name="proveedor"
                color="green"
                dense
                :error-messages="errors"
              ></v-select>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="categoria"
              rules="required"
            >
              <v-select
                :items="categorias"
                v-model="categoria"
                label="Categoria"
                name="categoria"
                color="green"
                dense
                :error-messages="errors"
              ></v-select>
            </validation-provider>
            <v-row align="center">
              <v-col>
                <validation-provider
                  v-slot="{ errors }"
                  name="minCompra"
                  rules="required"
                >
                  <v-text-field
                    color="green"
                    label="Minimo de Compra"
                    type="number"
                    v-model="minCompra"
                    name="minCompra"
                    :error-messages="errors"
                  />
                </validation-provider>
              </v-col>
              <v-col md="1">
                <v-tooltip v-model="show" top color="green darken-2">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon color="green darken-3"
                        >mdi-information-outline</v-icon
                      >
                    </v-btn>
                  </template>
                  <p class="text-center">
                    Es lo mínimo que una persona puede comprar del producto
                  </p>
                  <p class="text-center">Ejemplo para 100gr = 0.1</p>
                  <p class="text-center">Ejemplo para 3pz = 3</p>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-form>
        </validation-observer>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-row align="center" align-content="space-between">
          <v-col>
            <v-btn
              color="grey"
              :form="`formUpdate_${product._id}`"
              class="ma-3"
              @click="closeDialog()"
              dark
              >Cancelar</v-btn
            >
          </v-col>
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              color="green darken-2"
              type="submit"
              :form="`formUpdate_${product._id}`"
              class="ma-3"
              dark
              >Editar Producto</v-btn
            >
          </v-col>
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              color="red darken-2"
              class="ma-3"
              dark
              @click="alertDialog = true"
              >Eliminar</v-btn
            >
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>

    <v-dialog v-model="alertDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >Seguro que quieres eliminar el producto?</v-card-title
        >

        <v-card-text>
          Se eliminara de todos los paquetes y plantillas.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey darken-3" text @click="alertDialog = false">
            Cancelar
          </v-btn>

          <v-btn color="red darken-1" text @click="eliminarProd($data._id)">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import { required, max, min } from "vee-validate/dist/rules";
import es from "vee-validate/dist/locale/es.json";
import ApiService from "../services/ApiService";
import {
  extend,
  localize,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
setInteractionMode("eager");
localize("es", es);
extend("required", required);
extend("max", max);
extend("min", min);
export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: function() {
    return {
      alertDialog: false,
      nombre: "",
      descripcion: "",
      proveedor: this.product.proveedor.nombre,
      precio: "",
      precioOferta: "",
      imagen: "",
      cantidad: "",
      minCompra: "",
      tipoVenta: "",
      categoria: "",
      ...this.product,
      show: false,
      error: null,
      errorAlert: false,
      success: null,
      successAlert: false,
      proveedores: [],
      categorias: ["fruta", "verdura", "cereal", "otro"]
    };
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  mounted() {
    ApiService.get("/proveedor")
      .then(response => {
        // handle success
        console.log(response);
        this.proveedores = response.data.data;
        console.log(response);
      })
      .catch(error => {
        // handle error
        console.log(error);
      });
  },
  methods: {
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    getDefMinimo() {
      this.tipoVenta == "kg" ? (this.minCompra = 0.1) : (this.minCompra = 1);
    },
    closeDialog() {
      this.$emit("close-dialog");
      console.log("Dialog closed?");
    },
    updateProduct() {
      console.log(
        "-----------------------------Update--------------------------"
      );
      /* formData */
      var formData = new FormData(
        this.$refs[`formUpdate_${this.product._id}`].$el
      );
      formData.delete("proveedor");
      formData.append("proveedor", this.proveedor);
      console.log(...formData);
      // console.log(...formData);
      // for (var value of formData.values()) {
      //   console.log(value);
      // }
      /* AJAX request */
      console.log(`/product/${this.product._id}`);
      ApiService.put(`/product/${this.product._id}`, formData)
        .then(response => {
          console.log(response);
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          this.$store.dispatch("cart/PRODUCTS_EDIT", {
            oldproduct: this.product,
            newproduct: response.data.data
          });
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        })
        .finally(() => {
          console.log("FInally Update.11111111111111111");
          this.closeDialog();
        });
    },
    eliminarProd(id) {
      console.log(id);
      ApiService.delete(`/product/${id}`)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          console.log(response);
          this.$store.dispatch("cart/PRODUCTS_DELETE", this.product);
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        })
        .finally(() => {
          this.alertDialog = false;
          this.closeDialog();
        });
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
