<template>
  <v-container class="container" width="100%" mt-12 justify="center" fluid>
    <v-divider class="mb-12"></v-divider>
    <v-container justify="center" class="d-flex">
      <v-container class="mx-auto">
        <div class="font-weight-light text-center mb-2" style="font-size:1.5em">
          ACERCA DE
        </div>
        <v-divider class="mb-5"></v-divider>
        <div class="font-weight-light mt-3" style="font-size:1em">
          KeyCode Solutions 2020®
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          keycode.solutions
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          negocios@keycode.solutions
        </div>
      </v-container>
      <v-container class="mx-auto">
        <div
          class="font-weight-light ml-4 text-center mb-2"
          style="font-size:1.5em"
        >
          MI CUENTA
        </div>
        <v-divider class="mb-5"></v-divider>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Login
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Mi cuenta
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Configuración
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Metodos de Pago
        </div>
      </v-container>
      <v-container class="mx-auto">
        <div
          class="font-weight-light ml-4 text-center mb-2"
          style="font-size:1.5em"
        >
          NOSOTROS
        </div>
        <v-divider class="mb-5"></v-divider>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Conocenos
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Envíos y Entregas
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Nuestras Politicas
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Contacto
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Atención al Cliente
        </div>
      </v-container>
      <v-container class="mx-auto">
        <div class="font-weight-light text-center mb-2" style="font-size:1.5em">
          AYUDA
        </div>
        <v-divider class="mb-5"></v-divider>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Tuve un problema
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Buzón de Quejas
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Ayudanos a Mejorar!
        </div>
        <div class="font-weight-light mt-3" style="font-size:1em">
          Cupones y Ofertas
        </div>
      </v-container>
    </v-container>
    <div class="font-weight-light  text-center mt-10" style="font-size:1em">
      SIGUENOS EN:
    </div>
    <v-row class="mt-3" justify="center" align="center">
      <v-col align="center" justify="center" md="1">
        <v-icon color="green darken-4">mdi-facebook</v-icon>
      </v-col>
      <v-col align="center" justify="center" md="1">
        <v-icon color="green darken-4">mdi-instagram</v-icon>
      </v-col>
      <v-col align="center" justify="center" md="1">
        <v-icon color="green darken-4">mdi-whatsapp</v-icon>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "Footer"
};
</script>
