<template>
  <v-container justify="start" align="center">
    <v-app-bar
      app
      color="white"
      flat
      prominent
      class="AppBar justify-center"
      height="60px"
    >
      <!-- <v-toolbar-title class="d-flex py-0">
        <v-card class="pa-0 d-flex mx-auto" flat to="/dashboard" fluid text>
          <v-img
            alt="Fruteria logo"
            src="../assets/logo.png"
            class="ml-6"
            max-height="50px"
            max-width="50px"
            contain
          >
          </v-img>
          
          <div class=" font-weight-light ml-2 my-2 green--text text--darken-4">
            FRUTERIA CALIFORNIA
          </div>
        </v-card> -->
      <!-- <v-container class="pa-0" fluid>
          <v-row no-gutters align="center" justify="center">
            <v-img
              alt="Fruteria logo"
              src="../assets/logo.png"
              max-height="200px"
              max-width="200px"
            >
            </v-img>
          </v-row>

          <v-row no-gutters>
            <div
              class="display-1 font-weight-light my-2 green--text text--darken-4"
            >
              FRUTERIA CALIFORNIA
            </div>
          </v-row>
        </v-container> -->
      <!-- </v-toolbar-title>-->

      <v-row class="fill-height" align="center">
        <v-col>
          <v-text-field
            label="Buscar en la Tienda"
            class="text-center "
            single-line
            prepend-icon="mdi-magnify"
            background-color="white"
            color="green darken-4"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-spacer></v-spacer>
      <v-avatar></v-avatar>
      <v-spacer></v-spacer>
      <div class="my-1 mr-5">
        <v-row align="center">
          <div
            class=" font-weight-light mr-2"
            v-if="this.$store.getters['auth/isAuthenticated']"
          >
            Hola, <strong>{{ this.$store.getters["auth/getNombre"] }}</strong>
          </div>
          <v-btn
            class="iconButton mx-1 mr-3"
            icon
            :to="
              this.$store.getters['auth/isAuthenticated']
                ? '/profile'
                : '/login'
            "
          >
            <v-avatar>
              <v-icon
                color="green darken-4"
                size="25"
                v-if="!this.$store.getters['auth/isAuthenticated']"
              >
                mdi-account-outline</v-icon
              >
              <v-img v-else :src="this.$store.getters['auth/getProfilePic']" />
            </v-avatar>
          </v-btn>
          <v-dialog v-model="dialog" max-width="90%">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on" class="mx-1 iconButton">
                <v-badge
                  :content="cartTotal"
                  :color="cartTotal > 0 ? 'green' : 'transparent'"
                >
                  <v-icon color="green darken-4" size="25"
                    >mdi-cart-outline</v-icon
                  >
                </v-badge>
              </v-btn>
            </template>
            <Cart @close-cart="closeCart" />
          </v-dialog>
        </v-row>
      </div>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      color="white"
      app
      class=" white"
      permanent
    >
      <!-- expand-on-hover
      mini-variant -->
      <v-list nav dense>
        <v-list-item two-line class="pa-0">
          <v-img
            alt="Fruteria logo"
            src="../assets/logo.png"
            class="ml-6"
            max-height="50px"
            max-width="50px"
            contain
          >
          </v-img>

          <div class=" font-weight-light ml-2 my-2 green--text text--darken-4">
            FRUTERIA <strong> CALIFORNIA</strong> ®
          </div>
          <!-- <v-list-item-avatar>
            <img
              v-if="this.$store.getters['auth/isAuthenticated']"
              :src="this.$store.getters['auth/getProfilePic']"
            />
            <img v-else src="https://cdn.vuetifyjs.com/images/john.jpg" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title
              ><div
                class="font-weight-regular   green--text text--darken-4 text-start "
                style="font-size:1.2em"
              >
                <span v-if="this.$store.getters['auth/isAuthenticated']">
                  {{ this.$store.getters["auth/getNombre"] }}</span
                >
                <span v-else>Invitado</span>
              </div>
            </v-list-item-title>
            <v-list-item-subtitle
              ><div
                class="font-weight-regular   grey--text text--darken-1 text-start"
                style="font-size:1em"
              >
                Bienvenido!
              </div></v-list-item-subtitle
            >
          </v-list-item-content> -->
        </v-list-item>
        <v-divider color="green"></v-divider>
        <v-container v-if="!admin">
          <v-list-item to="/Dashboard">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-home-variant</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Inicio</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>

          <v-list-item to="/store">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-storefront</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Tienda</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/orders">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-package-variant-closed</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Pedidos</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/Templates">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-cards</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Plantillas</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-container>
        <v-container v-else>
          <v-list-item to="/DashAdm">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-monitor-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Dashboard Admin</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/ordersAdmin">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-package-down</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Pedidos Admin</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/AddProduct">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-layers-plus</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Manejo de Productos</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/AddPaq">
            <v-list-item-action>
              <v-icon color="green darken-4">mdi-card-plus</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="green--text text--darken-4"
                >Manejo de Paquete</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-container>
        <v-spacer></v-spacer>
        <v-row class="fill-height" align-end>
          <v-col>
            <v-card flat class="d-flex">
              <v-card
                flat
                @click="admin = !admin"
                :color="admin ? 'blue darken-2' : 'green darken-3'"
                dark
                class="mx-auto px-3"
              >
                {{ admin ? "Admin" : "Cliente" }}
              </v-card>
            </v-card>
          </v-col>
        </v-row>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid>
        <slot></slot>
      </v-container>
    </v-content>
  </v-container>
</template>

<script>
import Cart from "@/components/Cart.vue";
export default {
  name: "Layout",
  components: { Cart },
  computed: {
    cartTotal() {
      return this.$store.getters["cart/getProdLen"];
    }
  },
  data: () => ({
    dialog: false,
    drawer: true,
    drawerRight: "",

    left: "",
    source: "",
    right: "",
    admin: false
  }),
  methods: {
    logout() {
      this.$store.dispatch("auth/AUTH_LOGOUT");
      this.$router.push("/Dashboard");
    },
    closeCart() {
      this.dialog = false;
    }
  }
};
</script>
<style>
.AppBar {
  margin: 0 auto;
}
.iconButton {
  background-color: white;
  box-shadow: 0 5px 10px rgba(39, 76, 224, 0.11),
    0 15px 40px rgba(126, 150, 245, 0.2);
}
.iconButton:hover {
  background-color: white;
  box-shadow: 0 5px 5px rgba(39, 224, 101, 0.11),
    0 5px 20px rgba(126, 150, 245, 0.2);
}
</style>
