<template>
  <v-container>
    <v-row>
      <v-col align="center">
        <div
          class="black--text text--darken-1 display-1 font-weight-regular mx-0"
        >
          NUEVOS PRODUCTOS
        </div>
        <div class="grey--text text--darken-2 font-weight-regular mt-0">
          FRESCOS, COMO SIEMPRE
        </div>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-card
        v-for="(product, index) in products"
        :key="index"
        min-height="200px"
        width="200px"
        color="white"
        class="ma-2"
        @click="alert(1)"
      >
        <v-img
          :src="product.imagen"
          aspect-ratio=".75"
          gradient="1deg, rgba(0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0)"
          class="white--text align-end"
        >
          <v-card-text align="center">
            <div class=" display-1 font-weight-light">
              {{ product.nombre }}
            </div>

            <div class=" font-weight-light">A solo ${{ product.precio }}0</div>
          </v-card-text>
        </v-img>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "NewProducts",
  data() {
    return {
      products: [
        {
          nombre: "Limon",
          imagen: require("../assets/images/products/limon.jpg"),
          precio: 15.9
        },
        {
          nombre: "Naranja",
          imagen: require("../assets/images/products/naranja.jpg"),
          precio: 12.9
        },
        {
          nombre: "Aguacate",
          imagen: require("../assets/images/products/aguacate.jpg"),
          precio: 49.9
        },
        {
          nombre: "Guayaba",
          imagen: require("../assets/images/products/guayaba.jpg"),
          precio: 22.9
        }
      ]
    };
  }
};
</script>
