<template>
  <v-dialog v-model="dialog" max-width="50%">
    <template v-slot:activator="{ on, attrs }">
      <v-card
        min-height="200px"
        min-width="100px"
        max-height="200px"
        color="white"
        class="ma-2"
        v-bind="attrs"
        v-on="on"
        dark
      >
        <v-img
          :src="producto.imagen"
          aspect-ratio=".75"
          gradient="1deg, rgba(0,0,0), rgba(0,0,0,.5), rgba(0,0,0,.2),rgba(0,0,0,0)"
          class=" align-end"
          max-height="200px"
        >
          <v-card-text align="center">
            <div class=" display-1 font-weight-regular mb-2">
              {{ producto.nombre }}
            </div>
            <v-row no-gutters align="center">
              <v-spacer></v-spacer>
              <v-col>
                <div
                  class=" font-weight-light"
                  style="text-decoration: line-through;"
                >
                  ${{ producto.precioOferta }}0
                </div>
              </v-col>
              <v-col>
                <v-chip color="yellow darken-2"
                  ><div class="black--text font-weight-light">
                    ${{ producto.precio }}0
                  </div>
                </v-chip>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-card-text>
        </v-img>
      </v-card>
    </template>
    <ProductPage :product="producto" @close-dialog="closeDialog" />
  </v-dialog>
</template>
<script>
import ProductPage from "@/components/ProductPage.vue";
export default {
  name: "OfertaDesign",
  props: {
    producto: {
      type: Object,
      required: true
    }
  },
  components: { ProductPage },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>
