<template>
  <v-row justify="center" no-gutters>
    <v-col md="3" v-for="(producto, index) in productos" :key="index">
      <OfertaDesign :producto="producto" />
    </v-col>
  </v-row>
</template>
<script>
import OfertaDesign from "@/components/OfertaDesign.vue";
export default {
  name: "Ofertas",
  components: { OfertaDesign },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  },
  data() {
    return {
      dialog: false,
      productos: [
        {
          nombre: "Limon",
          imagen: require("../assets/images/products/limon.jpg"),
          precioOferta: 15.9,
          precio: 10.9,
          categoria: "Frutas"
        },
        {
          nombre: "Naranja",
          imagen: require("../assets/images/products/naranja.jpg"),
          precioOferta: 12.9,
          precio: 8.9,
          categoria: "Frutas"
        },
        {
          nombre: "Aguacate",
          imagen: require("../assets/images/products/aguacate.jpg"),
          precioOferta: 49.9,
          precio: 42.9,
          categoria: "Verduras"
        },
        {
          nombre: "Guayaba",
          imagen: require("../assets/images/products/guayaba.jpg"),
          precioOferta: 22.9,
          precio: 15.9,
          categoria: "Frutas"
        },
        {
          nombre: "Piña",
          imagen: require("../assets/images/products/pina.jpg"),
          precioOferta: 22.9,
          precio: 15.9,
          categoria: "Frutas"
        }
      ]
    };
  }
};
</script>
