<template>
  <div class="wrapper" no-gutters>
    <div class="productos-box" align="center">
      <v-sheet color="white" tile min-height="100%">
        <v-container>
          <v-spacer></v-spacer>
          <v-sheet max-width="90%" max-height="80%" class="mt-5">
            <v-row>
              <v-spacer>
                <div
                  :class="
                    getColor(order.status) +
                      '--text text--darken-2 display-1 font-weight-thin green--text darken-4 text-center mb-7'
                  "
                >
                  DESGLOSE DE PEDIDO
                </div>
              </v-spacer>
            </v-row>
            <v-row no-gutters>
              <v-col md="4"
                ><div class=" font-weight-light grey--text darken-4">
                  PRODUCTO
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  PRECIO
                </div>
              </v-col>
              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  CANTIDAD
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  SUBTOTAL
                </div>
              </v-col>
            </v-row>
            <v-row
              v-for="(cartProduct, index) in order.productos"
              :key="index"
              align="center"
            >
              <v-col md="4">
                <v-card
                  min-height="60%"
                  min-width="60%"
                  max-height="60%"
                  max-width="60%"
                  flat
                >
                  <v-img
                    :src="cartProduct.picture.src"
                    aspect-ratio="1.2"
                    cover
                  >
                  </v-img>
                </v-card>

                <div
                  class=" font-weight-regular green--text text--darken-3 mt-2"
                >
                  {{ cartProduct.nombre }}
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio }}0
                </div>
              </v-col>
              <v-col md="2">
                <v-row no-gutters align="center">
                  <v-col>
                    <div class=" font-weight-regular black--text">
                      <v-text-field
                        type="number"
                        v-model="cartProduct.cantidad"
                        color="green"
                        disabled
                      ></v-text-field>
                    </div>
                  </v-col>
                  <div class=" font-weight-regular black--text">
                    kg
                  </div>
                </v-row>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio * cartProduct.cantidad }}0
                </div>
              </v-col>
            </v-row>
          </v-sheet>
          <v-spacer></v-spacer>
        </v-container>
      </v-sheet>
    </div>
    <div class="pago-box">
      <v-sheet
        :color="getColor(order.status) + ' lighten-4'"
        min-height="100%"
        tile
      >
        <v-row>
          <v-col md="7">
            <v-sparkline
              height="15px"
              :color="getColor(order.status) + ' darken-2'"
              :value="value"
              line-width="6"
              class="pa-5"
              smooth
              stroke-linecap="round"
            ></v-sparkline>
          </v-col>
        </v-row>

        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="8" dense>
            <h3
              class="
                  grey--text font-weight-light text-center text--darken-2 mt-12"
            >
              Pedido {{ order.id }}
            </h3>
            <h3
              :class="
                getColor(order.status) +
                  '--text display-1 font-weight-light text-center text--darken-4 '
              "
            >
              {{ getLabel(order.status) }}
            </h3>
            <v-divider></v-divider>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="10" dense>
            <v-container>
              <h4
                class=" font-weight-light grey--text text-center text--darken-2 mt-5 "
              >
                Se realizó:
              </h4>
              <h2
                class=" font-weight-light grey--text text-center text--darken-2 "
              >
                {{ order.fecha }}
              </h2>
            </v-container>
            <v-container v-show="order.status > 1 && order.status <= 3">
              <h4
                class=" font-weight-light grey--text text-center text--darken-2 mt-3 "
              >
                Entrega Estimada:
              </h4>
              <h2
                class=" font-weight-light grey--text text-center text--darken-2 "
              >
                {{ order.horaEstimada }}
              </h2>
            </v-container>
            <v-container v-show="order.status == 5">
              <h4
                class=" font-weight-light grey--text text-center text--darken-2 mt-3 "
              >
                Se entregó:
              </h4>
              <h2
                class=" font-weight-light grey--text text-center text--darken-2 "
              >
                {{ order.fechaEntrega }}
              </h2>
            </v-container>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense no-gutters>
          <v-spacer></v-spacer>
          <v-col md="3">
            <h3 class=" font-weight-regular grey--text text-center  mt-5">
              Total:
            </h3>
            <h1
              class="display-1 font-weight-regular grey--text text-center text--darken-3"
            >
              ${{ order.total }}
            </h1>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" v-show="editar">
          <v-spacer></v-spacer>
          <v-col>
            <v-dialog v-model="dialog" max-width="40%">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-if="order.Empleado && order.status > 1 && order.status <= 4"
                  rounded
                  :color="getColor(order.status) + ' darken-2'"
                  class="mt-12"
                  v-bind="attrs"
                  v-on="on"
                  x-large
                  dark
                >
                  Comunicarme con {{ order.Empleado.nombre }}
                </v-btn>
              </template>
              <Chat v-if="order.Empleado" :nombre="order.Empleado.nombre" />
            </v-dialog>
            <v-container v-if="order.status == 5">
              <v-container class="d-flex">
                <h2 class=" font-weight-light mx-auto">
                  Califica a {{ order.Empleado.nombre }}
                </h2>
              </v-container>
              <v-container class="d-flex pa-0">
                <v-icon color="grey" class="ml-auto">
                  mdi-star
                </v-icon>
                <v-icon color="grey">
                  mdi-star
                </v-icon>
                <v-icon color="grey">
                  mdi-star
                </v-icon>
                <v-icon color="grey">
                  mdi-star
                </v-icon>
                <v-icon color="grey" class="mr-auto">
                  mdi-star
                </v-icon>
              </v-container>
              <v-container class="d-flex">
                <v-btn
                  :color="getColor(order.status) + ' darken-2'"
                  @click="addCart()"
                  x-large
                  class="mx-auto"
                  text
                  dark
                >
                  Tuve un Problema
                </v-btn>
              </v-container>
            </v-container>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" v-show="order.status <= 2">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              color="red"
              class="mt-5"
              x-large
              dark
              @click="alertDialog = true"
            >
              Cancelar Orden
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-sheet>
    </div>
    <v-dialog v-model="alertDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >Seguro que quieres eliminar el pedido?</v-card-title
        >

        <v-card-text>
          Se borrará la orden permanentemente.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey darken-3" text @click="alertDialog = false">
            Cancelar
          </v-btn>

          <v-btn color="red darken-1" text @click="eliminarOrden()">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Chat from "@/components/Chat.vue";
import ApiService from "../services/ApiService";
export default {
  name: "OrderPage",
  components: { Chat },
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  computed: {
    cartProducts() {
      return this.$store.getters["cart/getProductos"];
    }
  },
  methods: {
    changeEmb(opt) {
      this.embalaje = opt;
    },
    closeDialog() {
      this.dialog = false;
    },
    closeDialog2() {
      this.$emit("close-dialog");
    },
    addCart() {
      this.closeDialog2();
    },
    eliminarOrden() {
      const id = this.order._id;
      console.log(id);
      ApiService.delete(`/order/${id}`)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          console.log(response);
          this.$store.dispatch("cart/ORDERS_DELETE", this.order);
          this.closeDialog2();
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        })
        .finally(() => {
          this.alertDialog = false;
          this.closeDialog();
        });
    },
    getIcon(opt) {
      switch (opt) {
        case 1:
          return "mdi-lan-check";
        case 2:
          return "mdi-sticker-check";
        case 3:
          return "mdi-progress-clock";
        case 4:
          return "mdi-bag-carry-on-check";
        case 5:
          return "mdi-checkbox-marked";

        default:
          return "mdi-checkbox-blank";
      }
    },
    getLabel(opt) {
      switch (opt) {
        case 1:
          return "Enviado";
        case 2:
          return "Aceptado";
        case 3:
          return "Preparando";
        case 4:
          return "Listo para recoger";
        case 5:
          return "Finalizado";

        default:
          return "Sin Estatus";
      }
    },
    getColor(opt) {
      switch (opt) {
        case 1:
          return "blue-grey";
        case 2:
          return "blue";
        case 3:
          return "yellow";
        case 4:
          return "green";
        case 5:
          return "red";

        default:
          return "black";
      }
    }
  },
  data() {
    return {
      calificar: false,
      dialog: false,
      alertDialog: false,
      embalaje: 1,
      value: [-8, -8],
      editar: true
    };
  }
};
</script>
<style scoped>
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  grid-template-rows: 1fr;
  background-color: #f3f7fa;
  color: #444;
  height: 90vh;
  padding: 1rem;
  overflow: auto;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}
.pago-box {
  grid-column: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
