<template>
  <div class="wrapper" no-gutters>
    <div class="productos-box" align="center">
      <v-sheet color="white" tile min-height="100%">
        <v-container>
          <v-spacer></v-spacer>
          <v-sheet max-width="90%" max-height="80%" class="mt-5">
            <v-row>
              <v-spacer>
                <div
                  :class="
                    getColor(order.status) +
                      '--text text--darken-2 display-1 font-weight-thin green--text darken-4 text-center mb-7'
                  "
                >
                  DESGLOSE DE PEDIDO
                </div>
              </v-spacer>
            </v-row>
            <v-row no-gutters>
              <v-col md="4"
                ><div class=" font-weight-light grey--text darken-4">
                  PRODUCTO
                </div>
              </v-col>
              <v-col md="2.75">
                <div class=" font-weight-light grey--text darken-4">
                  PRECIO
                </div>
              </v-col>
              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  CANTIDAD
                </div>
              </v-col>
              <v-col md="2.75">
                <div class=" font-weight-light grey--text darken-4">
                  SUBTOTAL
                </div>
              </v-col>
              <v-col md=".5" v-if="editar"> </v-col>
            </v-row>
            <v-row
              v-for="(cartProduct, index) in order.productos"
              :key="index"
              align="center"
            >
              <v-col md="4">
                <v-card
                  min-height="60%"
                  min-width="60%"
                  max-height="60%"
                  max-width="60%"
                  flat
                >
                  <v-img
                    :src="cartProduct.picture.src"
                    aspect-ratio="1.2"
                    cover
                  >
                  </v-img>
                </v-card>

                <div
                  class=" font-weight-regular green--text text--darken-3 mt-2"
                >
                  {{ cartProduct.nombre }}
                </div>
              </v-col>
              <v-col md="2.75">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio }}
                </div>
              </v-col>
              <v-col md="2">
                <v-row no-gutters align="center">
                  <v-col>
                    <div class=" font-weight-regular black--text">
                      <v-text-field
                        type="number"
                        v-model="cartProduct.cantidad"
                        color="green"
                        :disabled="!editar"
                      ></v-text-field>
                    </div>
                  </v-col>
                  <div class=" font-weight-regular black--text">
                    kg
                  </div>
                </v-row>
              </v-col>
              <v-col md="2.75">
                <div class=" font-weight-regular black--text">
                  ${{ cartProduct.precio * cartProduct.cantidad }}
                </div>
              </v-col>
              <v-col md=".5" v-if="editar">
                <v-card
                  class="ma-1"
                  @click="removeProduct(cartProduct)"
                  color="red lighten-3"
                  flat
                >
                  <v-icon>mdi-trash-can</v-icon>
                </v-card>
              </v-col>
            </v-row>
          </v-sheet>
          <v-spacer></v-spacer>
        </v-container>
      </v-sheet>
    </div>
    <div class="pago-box">
      <v-sheet
        :color="getColor(order.status) + ' lighten-4'"
        min-height="100%"
        tile
        d
      >
        <v-row>
          <v-col md="7">
            <v-sparkline
              height="15px"
              :color="getColor(order.status) + ' darken-2'"
              :value="value"
              line-width="6"
              class="pa-5"
              smooth
              stroke-linecap="round"
            ></v-sparkline>
          </v-col>
        </v-row>
        <v-container class="d-flex">
          <v-card class="pa-2 ml-auto mr-2" :color="estadoCard(2, 'blue')" dark>
            <v-responsive :aspect-ratio="0.6">
              <v-row>
                <v-col>
                  <v-icon size="50">
                    {{ getIcon(2) }}
                  </v-icon>
                </v-col>
              </v-row>
            </v-responsive>
          </v-card>
          <v-card class="pa-2 mx-2" :color="estadoCard(3, 'yellow')" dark>
            <v-responsive :aspect-ratio="0.6">
              <v-row>
                <v-col>
                  <v-icon size="50">
                    {{ getIcon(3) }}
                  </v-icon>
                </v-col>
              </v-row>
            </v-responsive>
          </v-card>
          <v-card class="pa-2 mx-2" :color="estadoCard(4, 'green')" dark>
            <v-responsive :aspect-ratio="0.6">
              <v-row>
                <v-col>
                  <v-icon size="50">
                    {{ getIcon(4) }}
                  </v-icon>
                </v-col>
              </v-row>
            </v-responsive>
          </v-card>
          <v-card class="pa-2 ml-2 mr-auto" :color="estadoCard(5, 'red')" dark>
            <v-responsive :aspect-ratio="0.6">
              <v-row>
                <v-col>
                  <v-icon size="50">
                    {{ getIcon(5) }}
                  </v-icon>
                </v-col>
              </v-row>
            </v-responsive>
          </v-card>
        </v-container>
        <v-container class="d-flex" v-if="!setHour">
          <v-row no-gutters class="mx-auto">
            <v-col>
              <h4
                class="grey--text text--darken-3 text-center font-weight-light"
              >
                Usuario
              </h4>
              <h1 class=" font-weight-light text-center">
                {{ order.Usuario.nombre }}

                {{ order.Usuario.apellidos }}
              </h1>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="d-flex" v-if="!setHour">
          <v-row no-gutters class="mx-auto">
            <v-col>
              <h4
                class="grey--text text--darken-3 text-center font-weight-light"
              >
                Fecha Pedido:
              </h4>
              <h2 class=" font-weight-light text-center">
                {{ order.fecha }}
              </h2>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="d-flex" v-if="order.fechaEntrega">
          <v-row no-gutters class="mx-auto">
            <v-col>
              <h4
                class="grey--text text--darken-3 text-center font-weight-light"
              >
                Se entregó:
              </h4>
              <h2 class=" font-weight-light text-center">
                {{ order.fechaEntrega }}
              </h2>
            </v-col>
          </v-row>
        </v-container>
        <v-container
          class="d-flex pt-0"
          v-if="order.status == 2 || order.status == 3"
        >
          <v-row no-gutters class="mx-auto">
            <v-col>
              <h4
                class="grey--text text--darken-3 text-center font-weight-light"
              >
                Entrega Estimada:
              </h4>
              <h2 class=" font-weight-light text-center">
                {{ order.horaEstimada }}
              </h2>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="d-flex" v-if="!setHour">
          <v-row no-gutters class="mx-auto">
            <v-col>
              <h4
                class="grey--text text--darken-3 text-center font-weight-light"
              >
                Total
              </h4>
              <h1 class=" font-weight-light text-center">${{ order.total }}</h1>
            </v-col>
          </v-row>
        </v-container>
        <v-container v-if="setHour" class="d-flex pa-0 mb-1">
          <h2 class="grey--text text--darken-3 mx-auto font-weight-light">
            Ingrese Hora Estimada de Entrega
          </h2>
        </v-container>
        <v-container v-if="setHour" class="d-flex pa-0">
          <v-time-picker
            v-model="time"
            type="month"
            width="290"
            class="mx-auto "
          ></v-time-picker>
        </v-container>
        <v-container class="d-flex" v-if="!editar">
          <v-btn
            v-show="order.status == 1 && !setHour"
            @click="setHour = true"
            rounded
            :color="getColor(order.status + 1)"
            class=" ml-auto mr-auto"
            x-large
            dark
          >
            Aceptar Pedido
          </v-btn>
          <v-btn
            @click="changeStatus({ status: 2, horaEstimada: time })"
            v-show="setHour"
            rounded
            :color="getColor(order.status + 1)"
            class=" ml-auto mr-auto"
            x-large
            dark
          >
            Aceptar Pedido
          </v-btn>
          <v-btn
            @click="changeStatus({ status: 3 })"
            v-show="order.status == 2"
            rounded
            :color="getColor(order.status + 1) + ' darken-2'"
            class=" ml-auto mr-auto"
            x-large
            dark
          >
            Preparar Pedido
          </v-btn>
          <v-btn
            @click="changeStatus({ status: 4 })"
            v-show="order.status == 3"
            rounded
            :color="getColor(order.status + 1)"
            class=" ml-auto mr-auto"
            x-large
            dark
          >
            Marcar como listo
          </v-btn>
          <v-btn
            @click="changeStatus({ status: 5, fechaEntrega: new Date() })"
            v-show="order.status == 4"
            rounded
            :color="getColor(order.status + 1)"
            class=" ml-auto mr-auto"
            x-large
            dark
          >
            Finalizar Pedido
          </v-btn>
        </v-container>
        <v-container class="d-flex pt-0 pb-2" v-if="!editar">
          <v-dialog v-model="dialog" max-width="40%">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-show="order.status > 1 && order.status <= 4"
                rounded
                :color="getColor(order.status) + ' darken-2'"
                class="mt-0 mx-auto"
                v-bind="attrs"
                v-on="on"
                dark
              >
                Comunicarme con
                {{ order.Usuario.nombre }}
              </v-btn>
            </template>
            <ChatAdmin
              :nombre="order.Usuario.nombre + ' ' + order.Usuario.apellidos"
            />
          </v-dialog>
        </v-container>
        <v-container class="d-flex pa-0" v-if="!editar">
          <v-btn
            v-show="order.status > 1 && order.status <= 4"
            rounded
            color="blue-grey"
            class="mt-0 mx-auto"
            @click="editar = true"
            dark
          >
            Editar pedido
          </v-btn>
        </v-container>
        <v-container class="d-flex pa-0 mt-5" v-if="editar">
          <v-btn
            v-show="order.status > 1 && order.status <= 4"
            rounded
            color="grey"
            class="mt-0 mx-auto"
            @click="editar = false"
            dark
          >
            Cancelar
          </v-btn>
        </v-container>
        <v-container class="d-flex pa-0" v-if="editar">
          <v-btn
            v-show="order.status > 1 && order.status <= 4"
            rounded
            color="red"
            class="mt-5 mx-auto"
            @click="alertDialog = true"
            dark
          >
            Eliminar Pedido
          </v-btn>
        </v-container>
        <v-container v-show="order.status == 5">
          <v-container class="d-flex">
            <h2 class=" font-weight-light mx-auto">
              Califica a
              {{ order.Usuario.nombre + " " + order.Usuario.apellidos }}
            </h2>
          </v-container>
          <v-container class="d-flex pa-0">
            <v-icon color="grey" class="ml-auto">
              mdi-star
            </v-icon>
            <v-icon color="grey">
              mdi-star
            </v-icon>
            <v-icon color="grey">
              mdi-star
            </v-icon>
            <v-icon color="grey">
              mdi-star
            </v-icon>
            <v-icon color="grey" class="mr-auto">
              mdi-star
            </v-icon>
          </v-container>
        </v-container>
      </v-sheet>
    </div>
    <v-dialog v-model="alertDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >Seguro que quieres eliminar el pedido?</v-card-title
        >

        <v-card-text>
          Se borrará la orden permanentemente.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey darken-3" text @click="alertDialog = false">
            Cancelar
          </v-btn>

          <v-btn color="red darken-1" text @click="eliminarOrden()">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import ChatAdmin from "@/components/ChatAdmin.vue";
import ApiService from "../services/ApiService";
export default {
  name: "OrderPageAdmin",
  components: { ChatAdmin },
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  computed: {
    cartProducts() {
      return this.$store.getters["cart/getProductos"];
    }
  },
  methods: {
    changeEmb(opt) {
      this.embalaje = opt;
    },
    changeStatus(payload) {
      this.setHour = false;
      const id = this.order._id;
      console.log(id);
      ApiService.put(`/order/${id}`, { ...this.order, ...payload })
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          console.log("Edited Order");
          this.$store.dispatch("cart/ORDERS_EDIT", {
            oldOrder: this.order,
            newOrder: response.data.data
          });
          console.log(response);
          this.$emit("", id);
          this.closeDialog2();
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        })
        .finally(() => {
          this.alertDialog = false;
          this.closeDialog2();
        });
    },
    closeDialog() {
      this.dialog = false;
    },
    closeDialog2() {
      this.$emit("close-dialog");
    },
    addCart() {
      this.closeDialog2();
    },
    eliminarOrden() {
      const id = this.order._id;
      console.log(id);
      ApiService.delete(`/order/${id}`)
        .then(response => {
          this.success = response.data;
          this.successAlert = true;
          this.errorAlert = false;
          console.log(response);
          this.$store.dispatch("cart/ORDERS_DELETE", this.order);
          this.closeDialog2();
        })
        .catch(error => {
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
          this.error = error.response.data;
          this.errorAlert = true;
          this.successAlert = false;
          if (error.response.status == "500") {
            this.error = {
              data: [
                {
                  msg: "Ocurrio un error en el servidor. Intentalo mas tarde."
                }
              ]
            };
          } else if (error.response.status == "401") {
            this.error = {
              data: [
                {
                  msg: error.response.data.message
                }
              ]
            };
          }
        })
        .finally(() => {
          this.alertDialog = false;
          this.closeDialog();
        });
    },
    estadoCard(num, color) {
      if (this.estado > num) {
        return "grey";
      } else if (this.estado < num) {
        return color + " lighten-4";
      } else {
        return color;
      }
    },
    getRatio(num) {
      if (this.estado == num) {
        return 0.8;
      } else {
        return 0.6;
      }
    },
    changeEstado(opt) {
      this.estado = opt;
    },
    getIcon(opt) {
      switch (opt) {
        case 1:
          return "mdi-lan-check";
        case 2:
          return "mdi-sticker-check";
        case 3:
          return "mdi-progress-clock";
        case 4:
          return "mdi-bag-carry-on-check";
        case 5:
          return "mdi-checkbox-marked";

        default:
          return "mdi-checkbox-blank";
      }
    },
    getLabel(opt) {
      switch (opt) {
        case 1:
          return "Enviado";
        case 2:
          return "Aceptado";
        case 3:
          return "Preparando";
        case 4:
          return "Listo para recoger";
        case 5:
          return "Finalizado";

        default:
          return "Sin Estatus";
      }
    },
    getColor(opt) {
      switch (opt) {
        case 1:
          return "blue-grey";
        case 2:
          return "blue";
        case 3:
          return "yellow";
        case 4:
          return "green";
        case 5:
          return "red";

        default:
          return "white";
      }
    }
  },
  data() {
    return {
      setHour: false,
      estado: 0,
      calificacion: 0,
      editar: false,
      dialog: false,
      alertDialog: false,
      embalaje: 1,
      value: [-8, -8],
      time: ""
    };
  },
  mounted() {
    this.estado = this.order.status;
  }
};
</script>
<style scoped>
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  grid-template-rows: 1fr;
  background-color: #f3f7fa;
  color: #444;
  height: 90vh;
  padding: 1rem;
  overflow: auto;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}
.pago-box {
  grid-column: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
