<template>
  <v-dialog v-model="dialog" max-width="90%">
    <template v-slot:activator="{ on, attrs }">
      <v-card
        v-bind="attrs"
        v-on="on"
        shaped
        min-width="500px"
        max-width="500px"
        :color="getColor(order.status) + ' lighten-5'"
      >
        <v-card class="d-flex pa-2" flat color="transparent">
          <v-card color="transparent" flat>
            <h3 class="blue-grey--text text--darken-3  font-weight-light mr-2">
              Pedido {{ order.id }}
            </h3>
          </v-card>
          <v-card color="transparent" class="mr-auto ml-auto" flat>
            {{ order.fecha }}
          </v-card>
          <v-card color="transparent" flat>
            <h3
              :class="
                getColor(order.status) +
                  '--text text--darken-3  font-weight-light mr-2'
              "
            >
              {{ getLabel(order.status) }}
            </h3>
          </v-card>
          <v-card color="transparent" flat>
            <v-icon :color="getColor(order.status) + ' darken-3'">
              {{ getIcon(order.status) }}
            </v-icon>
          </v-card>
        </v-card>
        <v-card color="transparent" class="d-flex px-5 ma-3" flat>
          <v-card color="transparent" class="mr-auto" flat>
            <div v-if="order.Empleado && order.estado <= 4 && !isAdmin">
              <h5
                class="blue-grey--text text--darken-3  font-weight-light mr-2"
              >
                Lo Atiende:
              </h5>
              <h3
                class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
              >
                {{ order.Empleado.nombre }}
              </h3>
            </div>

            <div
              class="grey--text text--darken-2 font-weight-regular"
              v-if="order.Empleado && order.estado == 5 && !isAdmin"
            >
              <h5
                class="blue-grey--text text--darken-3  font-weight-light mr-2"
              >
                Lo Atendió:
              </h5>
              <h3
                class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
              >
                {{ order.Empleado.nombre }}
              </h3>
            </div>
            <div v-show="isAdmin">
              <h5
                class="blue-grey--text text--darken-3  font-weight-light mr-2"
              >
                Usuario:
              </h5>
              <h3
                class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
              >
                {{ order.Usuario.nombre }}
              </h3>
            </div>
          </v-card>
          <v-card color="transparent" class="d-flex" flat>
            <div v-show="order.horaEstimada">
              <h5
                class="blue-grey--text text--darken-3  font-weight-light mx-auto"
              >
                Hora de Estimada Entrega:
              </h5>
              <h3
                class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
              >
                {{ order.horaEstimada }}hrs
              </h3>
            </div>
            <div v-show="order.fechaEntrega">
              <h5
                class="blue-grey--text text--darken-3 text-center font-weight-light mr-2"
              >
                Se Entregó:
              </h5>
              <h3
                class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
              >
                {{ order.fechaEntrega }}hrs
              </h3>
            </div>
          </v-card>
        </v-card>
        <v-card color="transparent" class="d-flex pa-2" flat>
          <v-card color="transparent" class="ml-auto pl-4 mr-auto" flat>
            <h5
              class="blue-grey--text text--darken-3 text-center font-weight-light mr-2"
            >
              Total:
            </h5>
            <h2
              class="blue-grey--text text--darken-3 justify-end text-center  font-weight-regular mr-2"
            >
              ${{ order.total }}
            </h2>
          </v-card>
        </v-card>
        <v-card color="transparent" class="d-flexpa-2" flat>
          <v-card color="transparent" class="ml-auto pl-4 mr-auto" flat>
            <h5
              class="blue-grey--text text--darken-3 text-end font-weight-light mr-2"
            >
              Ver Más
              <v-icon color="grey">
                mdi-chevron-right
              </v-icon>
            </h5>
          </v-card>
        </v-card>
      </v-card>
    </template>

    <OrderPage v-show="!isAdmin" :order="order" @close-dialog="CloseDialog()" />
    <OrderPageAdmin
      v-show="isAdmin"
      :order="order"
      @close-dialog="CloseDialog()"
    />
  </v-dialog>
</template>
<script>
import OrderPage from "@/components/OrderPage.vue";
import OrderPageAdmin from "@/components/OrderPageAdmin.vue";
export default {
  props: {
    order: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  components: { OrderPage, OrderPageAdmin },
  methods: {
    getIcon(opt) {
      switch (opt) {
        case 1:
          return "mdi-lan-check";
        case 2:
          return "mdi-sticker-check";
        case 3:
          return "mdi-progress-clock";
        case 4:
          return "mdi-bag-carry-on-check";
        case 5:
          return "mdi-checkbox-marked";

        default:
          return "mdi-checkbox-blank";
      }
    },
    getLabel(opt) {
      switch (opt) {
        case 1:
          return "Enviado";
        case 2:
          return "Aceptado";
        case 3:
          return "Preparando";
        case 4:
          return "Listo para recoger";
        case 5:
          return "Finalizado";

        default:
          return "Sin Estatus";
      }
    },
    getColor(opt) {
      switch (opt) {
        case 1:
          return "blue-grey";
        case 2:
          return "blue";
        case 3:
          return "yellow";
        case 4:
          return "green";
        case 5:
          return "red";

        default:
          return "black";
      }
    },
    CloseDialog() {
      this.dialog = false;
    }
  }
};
</script>
