<template>
  <v-container class="container" mb-5>
    <v-spacer class="mb-12"></v-spacer>
    <v-row align="start" justify="center">
      <v-col md="4" align="center">
        <v-card widht="200px" class="  " flat>
          <div class="font-weight-light display-1 text-center mb-1">
            Ofertas
          </div>
          <v-divider></v-divider>

          <ProdDesign1
            class="ma-3 justify-center align-content-center"
            v-for="(product, index) in products"
            :key="index"
            :product="product"
          />
        </v-card>
      </v-col>
      <v-col md="4" align="center">
        <v-card widht="200px" class="  " flat>
          <div class="font-weight-light display-1 text-center mb-1">
            Mas Vendidos
          </div>
          <v-divider></v-divider>

          <ProdDesign1
            class="ma-3 justify-center align-content-center"
            v-for="(product, index) in products"
            :key="index"
            :product="product"
          />
        </v-card>
      </v-col>
      <v-col md="4" align="center">
        <v-card widht="200px" class="  " flat>
          <div class="font-weight-light display-1 text-center mb-1">
            Recomendados
          </div>
          <v-divider></v-divider>

          <ProdDesign1
            class="ma-3 justify-center align-content-center"
            v-for="(product, index) in products"
            :key="index"
            :product="product"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import ProdDesign1 from "@/components/ProdDesign1.vue";
export default {
  name: "OthersSections",
  components: { ProdDesign1 },
  data() {
    return {
      products: [
        {
          nombre: "Limon",
          imagen: require("../assets/images/products/limon.jpg"),
          precio: 15.9
        },
        {
          nombre: "Naranja",
          imagen: require("../assets/images/products/naranja.jpg"),
          precio: 12.9
        },
        {
          nombre: "Aguacate",
          imagen: require("../assets/images/products/aguacate.jpg"),
          precio: 49.9
        },
        {
          nombre: "Guayaba",
          imagen: require("../assets/images/products/guayaba.jpg"),
          precio: 22.9
        }
      ]
    };
  }
};
</script>
<style scoped></style>
==== BASE ====
