<template>
  <div class="wrapper" no-gutters>
    <div class="productos-box" align="center">
      <v-sheet color="white" tile min-height="100%">
        <v-container>
          <v-spacer></v-spacer>
          <v-sheet max-width="90%" max-height="80%" class="mt-5">
            <v-spacer>
              <div
                class="display-1 font-weight-thin green--text darken-4 text-center mb-7"
              >
                CONTENIDO DEL PAQUETE
              </div>
            </v-spacer>
            <v-container class="d-flex">
              <div class=" mx-auto font-weight-light grey--text darken-4">
                PRODUCTO
              </div>

              <div class=" mx-auto font-weight-light grey--text darken-4">
                CANTIDAD
              </div>
            </v-container>
            <v-container
              v-for="(paqueteProducto, index) in paquete.productos"
              :key="index"
              align="center"
              class="d-flex"
            >
              <v-container class="mx-auto">
                <v-row align="center">
                  <v-card
                    min-height="30%"
                    min-width="30%"
                    max-height="30%"
                    max-width="30%"
                    flat
                  >
                    <v-img
                      :src="paqueteProducto.imagen"
                      aspect-ratio="1.2"
                      cover
                    >
                    </v-img>
                  </v-card>

                  <h2
                    class="font-weight-regular green--text text--darken-3 ml-2"
                  >
                    {{ paqueteProducto.nombre }}
                  </h2>
                </v-row>
              </v-container>
              <v-container class="mx-auto">
                <div class=" font-weight-regular green--text text--darken-3 ">
                  {{ paqueteProducto.cantidad }} kg
                </div>
              </v-container>
            </v-container>
          </v-sheet>
          <v-spacer></v-spacer>
        </v-container>
      </v-sheet>
    </div>
    <div class="pago-box">
      <v-sheet color="green lighten-4" min-height="100%" tile>
        <v-row>
          <v-col md="7">
            <v-sparkline
              height="15px"
              color="green darken-2"
              :value="value"
              line-width="6"
              class="pa-5"
              smooth
              stroke-linecap="round"
            ></v-sparkline>
          </v-col>
        </v-row>

        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="8" dense>
            <v-divider></v-divider>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="6" dense>
            <h3
              class=" display-3 font-weight-light grey--text text-center text--darken-2 mt-12 "
            >
              Paquete {{ paquete.nombre }}
            </h3>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="3">
            <h1 class=" font-weight-regular grey--text text--darken-3 mt-5">
              ${{ paquete.precio }}0
            </h1>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              color="green darken-2"
              class="mt-12"
              x-large
              dark
              @click="AddCart()"
            >
              AGREGAR AL CARRITO
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-sheet>
    </div>
  </div>
</template>
<script>
export default {
  name: "PaqPage",
  props: {
    paquete: {
      type: Object,
      required: true
    }
  },
  computed: {
    cartProducts() {
      return this.$store.getters["cart/getProductos"];
    }
  },
  methods: {
    changeEmb(opt) {
      this.embalaje = opt;
    },
    closeDialog() {
      this.$emit("close-dialog");
    },
    AddCart() {
      this.closeDialog();
    }
  },
  data() {
    return {
      embalaje: 1,
      value: [-8, -8]
    };
  }
};
</script>
<style>
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  grid-template-rows: 1fr;
  background-color: #f3f7fa;
  color: #444;
  height: 90vh;
  padding: 1rem;
  overflow: auto;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}
.pago-box {
  grid-column: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
