<template>
  <v-row justify="center">
    <v-col md="6" v-for="(paquete, index) in paquets" :key="index">
      <v-dialog v-model="dialog" max-width="90%">
        <template v-slot:activator="{ on, attrs }">
          <v-card
            min-height="200px"
            color="white"
            class="ma-2"
            v-bind="attrs"
            v-on="on"
          >
            <v-img
              :src="paquete.imagen"
              aspect-ratio="1.75"
              gradient="1deg, rgba(0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0)"
              class="white--text align-end"
            >
              <v-card-text align="center">
                <div class=" display-2 font-weight-light">
                  {{ paquete.nombre }}
                </div>

                <div class="font-weight-light mt-3">
                  <v-chip color="green" dark>
                    <h3>${{ paquete.precio }}0</h3>
                  </v-chip>
                </div>
              </v-card-text>
            </v-img>
          </v-card>
        </template>
        <PaqPage :paquete="paquete" @close-dialog="closeDialog" />
      </v-dialog>
    </v-col>
  </v-row>
</template>
<script>
import PaqPage from "@/components/PaqPage.vue";
export default {
  name: "Paquetes",
  components: { PaqPage },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  },
  data() {
    return {
      dialog: false,
      paquets: [
        {
          nombre: "Carne Asada",
          imagen: require("../assets/images/carne_asada.jpg"),
          precio: 199.9,
          productos: [
            {
              nombre: "Limon",
              imagen: require("../assets/images/products/limon.jpg"),
              precio: 15.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Naranja",
              imagen: require("../assets/images/products/naranja.jpg"),
              precio: 12.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Aguacate",
              imagen: require("../assets/images/products/aguacate.jpg"),
              precio: 49.9,
              cantidad: 2,
              categoria: "Verduras"
            }
          ]
        },
        {
          nombre: "Despensa",
          imagen: require("../assets/images/despensa.jpg"),
          precio: 149.9,
          productos: [
            {
              nombre: "Limon",
              imagen: require("../assets/images/products/limon.jpg"),
              precio: 15.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Naranja",
              imagen: require("../assets/images/products/naranja.jpg"),
              precio: 12.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Aguacate",
              imagen: require("../assets/images/products/aguacate.jpg"),
              precio: 49.9,
              cantidad: 2,
              categoria: "Verduras"
            }
          ]
        },
        {
          nombre: "Fiesta",
          imagen: require("../assets/images/fiesta.jpg"),
          precio: 249.6,
          productos: [
            {
              nombre: "Limon",
              imagen: require("../assets/images/products/limon.jpg"),
              precio: 15.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Naranja",
              imagen: require("../assets/images/products/naranja.jpg"),
              precio: 12.9,
              cantidad: 2,
              categoria: "Frutas"
            },
            {
              nombre: "Aguacate",
              imagen: require("../assets/images/products/aguacate.jpg"),
              precio: 49.9,
              cantidad: 2,
              categoria: "Verduras"
            }
          ]
        }
      ]
    };
  }
};
</script>
