<template>
  <v-container>
    <v-card flat>
      <v-tabs
        v-model="tab"
        background-color="green darken-4"
        centered
        color="white"
        dark
        hide-slider
      >
        <v-tab href="#tab-1">
          <h3 class="font-weight-light basil--text">Frutas</h3>
        </v-tab>
        <v-tab-item value="tab-1">
          <v-row justify="center">
            <p v-for="(product, index) in prodRemote" :key="index">
              <v-col v-if="product.categoria == 'fruta'">
                <ProdDesign2 :product="product" />
              </v-col>
            </p>
          </v-row>
        </v-tab-item>
        <v-tab href="#tab-2">
          <h3 class="font-weight-light basil--text">Verduras</h3>
        </v-tab>
        <v-tab-item value="tab-2">
          <v-card flat tile>
            <v-row justify="center">
              <p v-for="(product, index) in prodRemote" :key="index">
                <v-col v-if="product.categoria == 'verdura'">
                  <ProdDesign2 :product="product" />
                </v-col>
              </p>
            </v-row>
          </v-card>
        </v-tab-item>
        <v-tab href="#tab-3">
          <h3 class="font-weight-light basil--text">Cereales</h3>
        </v-tab>
        <v-tab-item value="tab-3">
          <v-card flat tile>
            <v-row justify="center">
              <p v-for="(product, index) in prodRemote" :key="index">
                <v-col v-if="product.categoria == 'cereal'">
                  <ProdDesign2 :product="product" />
                </v-col>
              </p>
            </v-row>
          </v-card>
        </v-tab-item>
        <v-tab href="#tab-4">
          <h3 class="font-weight-light basil--text">Otros</h3>
        </v-tab>
        <v-tab-item value="tab-4">
          <v-card flat tile>
            <v-row justify="center">
              <p v-for="(product, index) in prodRemote" :key="index">
                <v-col v-if="product.categoria == 'otro'">
                  <ProdDesign2 :product="product" />
                </v-col>
              </p>
            </v-row>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-container>
</template>
<script>
import ProdDesign2 from "@/components/ProdDesign2.vue";
import ApiService from "../services/ApiService";
export default {
  name: "Pasillos",
  components: { ProdDesign2 },
  methods: {
    categoryProducts(categoria) {
      for (var product in this.products) {
        if (product.categoria == categoria) {
          this.listProdCategory.push(product);
          print("Heyyy");
        }
      }
    }
  },
  data() {
    return {
      dialog: false,
      listProdCategory: [],
      tab: "",
      prodRemote: [],
      products: [
        {
          nombre: "Limon",
          imagen: require("../assets/images/products/limon.jpg"),
          precio: 15.9,
          categoria: "Frutas"
        },
        {
          nombre: "Naranja",
          imagen: require("../assets/images/products/naranja.jpg"),
          precio: 12.9,
          categoria: "Frutas"
        },
        {
          nombre: "Aguacate",
          imagen: require("../assets/images/products/aguacate.jpg"),
          precio: 49.9,
          categoria: "Verduras"
        },
        {
          nombre: "Guayaba",
          imagen: require("../assets/images/products/guayaba.jpg"),
          precio: 22.9,
          categoria: "Frutas"
        },
        {
          nombre: "Piña",
          imagen: require("../assets/images/products/pina.jpg"),
          precio: 22.9,
          categoria: "Frutas"
        },
        {
          nombre: "Jitomate",
          imagen: require("../assets/images/products/jitomate.jpg"),
          precio: 22.9,
          categoria: "Verduras"
        },
        {
          nombre: "Jicama",
          imagen: require("../assets/images/products/jicama.jpg"),
          precio: 22.9,
          categoria: "Otros"
        },
        {
          nombre: "Manzana Gold",
          imagen: require("../assets/images/products/manz_gold.jpg"),
          precio: 22.9,
          categoria: "Frutas"
        },
        {
          nombre: "Jamaica",
          imagen: require("../assets/images/products/jamaica.jpg"),
          precio: 22.9,
          categoria: "Cereales"
        },
        {
          nombre: "Chile Guajillo",
          imagen: require("../assets/images/products/ch_guajillo.jpg"),
          precio: 22.9,
          categoria: "Otros"
        },
        {
          nombre: "Cebolla",
          imagen: require("../assets/images/products/cebolla_b.jpg"),
          precio: 22.9,
          categoria: "Verduras"
        },
        {
          nombre: "Azucar",
          imagen: require("../assets/images/products/azucar.jpg"),
          precio: 19.9,
          categoria: "Cereales"
        }
      ]
    };
  },
  mounted: function() {
    // `this` points to the vm instance
    ApiService.get("/product")
      .then(response => {
        // handle success
        console.log(response);
        this.prodRemote = response.data.data.map(val => {
          val.picture.src =
            ApiService.getImgURL() + val.picture.src.replace(/^.+?[/]/, "");
          return val;
        });
      })
      .catch(error => {
        // handle error
        console.log(error);
      });
  }
};
</script>
