<template>
  <v-card class="px-4" flat>
    <v-row align="start">
      <v-col md="4">
        <v-card>
          <v-img :src="product.imagen" aspect-ratio=".6" cover></v-img>
        </v-card>
      </v-col>
      <v-col md="8" align="start">
        <v-row class="px-3">
          <div class="font-weight-light justify-start" style="font-size:1.9em">
            {{ product.nombre }}
          </div>
          <v-spacer></v-spacer>
          <div
            class="font-weight-regular justify-start"
            style="font-size:1.9em"
            v-show="!product.precioOferta"
          >
            ${{ product.precio }}/kg
          </div>
          <div
            class="font-weight-regular justify-start mr-2"
            style="font-size:1.3em;
            text-decoration: line-through;"
            v-show="product.precioOferta"
          >
            ${{ product.precioOferta }}/kg
          </div>
          <v-chip color="yellow darken-2" v-show="product.precioOferta"
            ><div
              class="font-weight-regular justify-start"
              style="font-size:1.5em"
              v-show="product.precioOferta"
            >
              ${{ product.precio }}/kg
            </div>
          </v-chip>
        </v-row>
        <v-divider></v-divider>
        <v-row class="px-3">
          <div
            class="font-weight-light green--text text--darken-4 justify-start"
            style="font-size:1.2em"
          >
            Descripción
          </div>
        </v-row>
        <v-row class="px-3">
          <div
            class="font-weight-light grey--text text--darken-1 justify-start"
            style="font-size:.9em"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
            inventore, ut error velit id necessitatibus voluptates totam illum
            nobis excepturi, quidem vel architecto
          </div>
        </v-row>
        <v-row class="px-3">
          <v-col align="center">
            <div
              class="font-weight-regular black--text text--darken-2 justify-start"
              style="font-size:1.2em"
            >
              ¿Cuánto llevará?
            </div>
          </v-col>
        </v-row>
        <v-row class="px-3" align="start">
          <v-spacer></v-spacer>
          <v-col align="center" md="2">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="green darken-3"
              @click="decrement()"
            >
              <v-icon dark>mdi-minus</v-icon>
            </v-btn>
          </v-col>
          <v-col align="center" md="3">
            <div
              class="font-weight-regular green--text text--darken-4"
              style="font-size:1.5em"
            >
              <v-text-field
                type="number"
                v-model="cantidad"
                single-line
                solo
                rounded
              ></v-text-field>
            </div>
          </v-col>
          <v-col align="center" md="2">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="green darken-3"
              @click="increment()"
            >
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-divider color="green"></v-divider>
        <v-row>
          <v-spacer></v-spacer>
          <v-col align="center">
            <h3
              class="font-weight-regular grey--text text-center text--darken-4"
            >
              SUBTOTAL
            </h3>
          </v-col>
          <v-col>
            <h3 class="font-weight-light grey--text text-center text--darken-4">
              ${{ cantidad * product.precio }}
            </h3>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn
            rounded
            color="green darken-2"
            class="mt-2"
            dark
            @click="addPressed"
            >Agregar al Carrito</v-btn
          >
          <v-spacer></v-spacer>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "ProductPage",
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  methods: {
    increment() {
      this.cantidad = parseInt(this.cantidad, 10) + 1;
    },
    decrement() {
      if (this.cantidad > 0) {
        this.cantidad = parseInt(this.cantidad, 10) - 1;
      }
    },
    addCart() {
      this.$store.dispatch("cart/CART_ADD_PROD", {
        ...this.product,
        cantidad: this.cantidad
      });
    },
    closeDialog() {
      this.$emit("close-dialog");
    },
    addPressed() {
      this.addCart();
      this.closeDialog();
    }
  },
  data() {
    return {
      cantidad: 0
    };
  }
};
</script>
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
