<template>
  <v-row justify="center">
    <div>
      <v-row>
        <v-col>
          <v-card
            class="py-1 fill-width"
            min-height="100px"
            min-width="250px"
            @click="editable = !editable"
            align="stretch"
            flat
          >
            <v-row>
              <v-col md="6">
                <v-card
                  min-height="80px"
                  min-width="80px"
                  max-height="80px"
                  max-width="80px"
                  class="ml-4"
                  flat
                >
                  <v-img
                    :src="product.picture.src"
                    aspect-ratio="1"
                    max-height="80px"
                    max-width="80px"
                    cover
                  >
                  </v-img>
                </v-card>
              </v-col>
              <v-col md="6">
                <div
                  class="font-weight-light justify-start"
                  style="font-size:1.3em"
                >
                  {{ product.nombre }}
                </div>
                <v-row>
                  <div
                    class="font-weight-light ml-4 green--text text--darken-4"
                    style="font-size:1em"
                  >
                    Precio: ${{ product.precio }}
                  </div>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-show="editable">
        <v-spacer></v-spacer>
        <v-col md="2">
          <div class=" font-weight-regular  black--text">
            <v-text-field
              type="number"
              v-model="cantidad"
              color="green"
            ></v-text-field>
          </div>
        </v-col>
        <v-col v-show="editable && !isAdmin" align-self="start" md="4">
          <v-card align="center" flat class="pl-2">
            <v-spacer></v-spacer>
            <v-col>
              <v-row align-content-center>
                <div
                  class="font-weight-light ml-4 mb-2 green--text text--darken-4"
                  style="font-size:1em"
                >
                  Subtotal:
                </div>
              </v-row>
              <v-row>
                <div
                  class="font-weight-regular ml-4 blue-grey--text text--darken-4"
                  style="font-size:1.3em"
                >
                  ${{ cantidad * product.precio }}
                </div>
              </v-row>
            </v-col>
            <v-spacer></v-spacer>
          </v-card>
        </v-col>
        <v-col v-show="editable" md="4">
          <v-btn
            rounded
            color="green"
            class="mt-5"
            @click="addProduct()"
            x-large
            dark
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </div>
  </v-row>
</template>

<script>
export default {
  name: "ProdCantidad",
  props: {
    isAdmin: {
      type: Boolean
    },
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      cantidad: 1,
      editable: false
    };
  },
  methods: {
    closeDialog() {
      this.$emit("close-dialog");
    },
    addProduct() {
      this.closeDialog();
    }
  }
};
</script>
