<template>
  <v-row>
    <v-col>
      <v-dialog v-model="dialog" persistent max-width="50%">
        <template v-slot:activator="{ on, attrs }">
          <v-card class="py-1" v-bind="attrs" v-on="on" flat>
            <v-row no-gutters align="center" justify="center">
              <v-col cols="4">
                <v-card class="ml-4" flat>
                  <v-img :src="product.picture.src" aspect-ratio="1" cover>
                  </v-img>
                </v-card>
              </v-col>
              <v-col
                cols="8"
                class="font-weight-light justify-center"
                style="font-size:1.3em"
              >
                <p class="text-center">
                  {{ product.nombre }}
                </p>
              </v-col>
            </v-row>
          </v-card>
        </template>
        <EditProductPage :product="this.product" @close-dialog="closeDialog" />
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import EditProductPage from "@/components/EditProductPage.vue";
export default {
  name: "ProdEditDesign",
  components: { EditProductPage },
  props: {
    isAdmin: {
      type: Boolean
    },
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      cantidad: 1,
      dialog: false
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  }
};
</script>
