<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="50%">
      <template v-slot:activator="{ on, attrs }">
        <div>
          <v-card
            class="py-1 fill-width"
            min-height="100px"
            min-width="250px"
            v-bind="attrs"
            v-on="on"
            align="stretch"
            flat
          >
            <v-row>
              <v-card
                min-height="80px"
                min-width="80px"
                max-height="80px"
                max-width="80px"
                class="ml-4"
                flat
              >
                <v-img
                  :src="product.imagen"
                  aspect-ratio="1"
                  max-height="80px"
                  max-width="80px"
                  cover
                >
                </v-img>
              </v-card>
              <v-col>
                <div
                  class="font-weight-light justify-start"
                  style="font-size:1.3em"
                >
                  {{ product.nombre }}
                </div>
                <v-row>
                  <div
                    class="font-weight-light ml-4 green--text text--darken-4"
                    style="font-size:1em"
                  >
                    Solo ${{ product.precio }}
                  </div>
                </v-row>
              </v-col>

              <v-col align="end" class="mr-2"
                ><v-icon color="grey lighten-2">mdi-cart</v-icon>
              </v-col>
            </v-row>
          </v-card>
        </div>
      </template>
      <v-card>
        <v-toolbar color="white" flat>
          <v-btn icon @click="dialog = false">
            <v-icon color="green darken-4">mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <ProductPage :product="product" @close-dialog="closeDialog" />
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import ProductPage from "@/components/ProductPage.vue";
export default {
  name: "ProdDesign1",
  components: { ProductPage },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    }
  }
};
</script>
