<template>
  <v-sheet
    :class="color + 'Shadow mx-2 cardBorder'"
    min-height="200px"
    min-width="28%"
    @click="alert(1)"
    :color="color + ' lighten-4'"
  >
    <v-container justify="center" class="coverGradient fill-height">
      <v-row align="center">
        <v-col class="fill-height" align="center" justify="center">
          <v-icon size="70" :color="color + ' lighten-2'">{{
            icon
          }}</v-icon></v-col
        >
      </v-row>
      <v-row>
        <v-col
          class="fill-height"
          align="center"
          justify="center"
          :color="color"
        >
          <div
            :class="color + '--text font-weight-light'"
            style="font-size:1.5em"
          >
            {{ title }}
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>
<script>
export default {
  name: "SectionStoreCard",
  props: {
    title: {
      type: String,
      requiered: true
    },
    color: {
      type: String,
      requiered: true
    },
    icon: {
      type: String,
      requiered: true
    }
  }
};
</script>
<style scoped>
.amberShadow {
  /* box-shadow: -2px 0px 99px -7px rgba(223, 183, 52, 0.8); */
  box-shadow: 0 5px 10px rgba(223, 186, 64, 0.24),
    0 15px 40px rgba(214, 197, 120, 0.2);
  overflow: hidden;
}
.greenShadow {
  box-shadow: 0 5px 10px rgba(70, 155, 74, 0.11),
    0 15px 40px rgba(73, 141, 82, 0.2);
  overflow: hidden;
}
.blueShadow {
  box-shadow: 0 5px 10px rgba(39, 76, 224, 0.11),
    0 15px 40px rgba(126, 150, 245, 0.2);
  overflow: hidden;
}
.cardBorder {
  border-radius: 20px 20px 20px 20px;
}
.coverGradient {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 37%,
    rgba(255, 255, 255, 0.5) 74%,
    rgba(255, 255, 255, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#fafafa', GradientType=1 );
}
</style>
