<template>
  <v-card>
    <v-row class="pa-4">
      <v-col md="6">
        <div class="display-1 font-weight-thin text-center">
          Seleccionar Producto
        </div>
      </v-col>
      <v-spacer></v-spacer>
      <v-col md="6">
        <v-text-field
          label="Buscar Producto"
          class="text-center "
          filled
          outlined
          rounded
          append-icon="mdi-magnify"
          background-color="white"
          color="green darken-4"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row no-gutters v-show="isEdit">
      <v-col v-for="(product, index) in products" :key="index" md="6">
        <ProdEditDesign :product="product" />
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import ProdEditDesign from "@/components/ProdEditDesign.vue";
export default {
  components: { ProdEditDesign },
  props: {
    isAdmin: {
      type: Boolean
    },
    isEdit: {
      type: Boolean
    }
  },
  methods: {
    closeDialog() {
      this.$emit("close-dialog");
    }
  },
  mounted: function() {
    this.$store.dispatch("cart/PRODUCTS_GET");
  },
  computed: {
    products() {
      return this.$store.getters["cart/getProductosEdit"];
    }
  },
  data() {
    return {};
  }
};
</script>
