<template>
  <v-dialog v-model="dialog" max-width="90%">
    <template v-slot:activator="{ on, attrs }">
      <v-card
        min-height="200px"
        class="fill-height"
        dark
        shaped
        v-bind="attrs"
        v-on="on"
        :color="plantilla.color"
        style="
                background: linear-gradient(to bottom, rgb(0,0,0,.8),   rgb(0,0,0,.2));
              "
      >
        <v-img src="../assets/images/polygon.png" max-height="200px" cover>
          <v-card-text
            ><h1 class="font-weight-regular white--text">
              {{ plantilla.nombre }}
            </h1>
          </v-card-text>
        </v-img>
      </v-card>
    </template>
    <TempPage :plantilla="plantilla" @close-dialog="closeDialog" />
  </v-dialog>
</template>
<script>
import TempPage from "@/components/TempPage.vue";
export default {
  props: {
    plantilla: {
      type: Object,
      required: true
    }
  },
  components: { TempPage },
  methods: {
    closeDialog2() {
      this.$emit("close-dialog");
    }
  }
};
</script>
