<template>
  <div class="wrapper" no-gutters>
    <div class="productos-box" align="center">
      <v-sheet color="white" tile min-height="100%">
        <v-container>
          <v-spacer></v-spacer>
          <v-sheet max-width="90%" max-height="80%" class="mt-5">
            <v-row>
              <v-spacer>
                <div
                  :class="
                    plantilla.color +
                      '--text text--darken-2 display-1 font-weight-thin green--text darken-4 text-center mb-7'
                  "
                >
                  CONTENIDO DE LA PLANTILLA
                </div>
              </v-spacer>
            </v-row>
            <v-row no-gutters>
              <v-col md="5"
                ><div class=" font-weight-light grey--text darken-4">
                  PRODUCTO
                </div>
              </v-col>

              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  CANTIDAD
                </div>
              </v-col>
              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  PRECIO
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  SUBTOTAL
                </div>
              </v-col>
            </v-row>
            <v-row
              v-for="(producto, index) in plantilla.productos"
              :key="index"
              no-gutters
              align="center"
            >
              <v-col md="5">
                <v-row align="center">
                  <v-col md="3">
                    <v-card
                      min-height="100%"
                      min-width="100%"
                      max-height="100%"
                      max-width="100%"
                      flat
                    >
                      <v-img :src="producto.imagen" aspect-ratio="1.2" cover>
                      </v-img>
                    </v-card>
                  </v-col>
                  <v-col md="2">
                    <div class=" font-weight-light grey--text darken-4">
                      {{ producto.nombre }}
                    </div>
                  </v-col>
                </v-row>
              </v-col>

              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  {{ producto.cantidad }}
                </div>
              </v-col>
              <v-col md="2">
                <div class=" font-weight-light grey--text darken-4">
                  {{ producto.precio }}
                </div>
              </v-col>
              <v-col md="3">
                <div class=" font-weight-light grey--text darken-4">
                  {{ producto.precio * producto.cantidad }}
                </div>
              </v-col>
            </v-row>
          </v-sheet>
          <v-spacer></v-spacer>
        </v-container>
      </v-sheet>
    </div>
    <div class="pago-box">
      <v-sheet :color="plantilla.color + ' lighten-4'" min-height="100%" tile>
        <v-row>
          <v-col md="7">
            <v-sparkline
              height="15px"
              :color="plantilla.color + ' darken-2'"
              :value="value"
              line-width="6"
              class="pa-5"
              smooth
              stroke-linecap="round"
            ></v-sparkline>
          </v-col>
        </v-row>

        <v-row align="center" dense>
          <v-spacer></v-spacer>
          <v-col md="8" dense>
            <v-divider></v-divider>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-container class="d-flex">
          <h3
            class=" display-2 font-weight-light grey--text mx-auto text--darken-2 mt-12 "
          >
            {{ plantilla.nombre }}
          </h3>
        </v-container>
        <v-container class="d-flex" dense>
          <h1
            class=" font-weight-regular mx-auto grey--text text--darken-3 mt-5"
          >
            $ 157.40
          </h1>
        </v-container>
        <v-row align="center" v-show="editar">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              :color="plantilla.color + ' darken-2'"
              class="mt-12"
              @click="addCart()"
              x-large
              dark
            >
              AGREGAR AL CARRITO
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-row align="center" v-show="editar">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              color="green"
              class="mt-5"
              x-large
              dark
              @click="editar = !editar"
            >
              EDITAR PLANTILLA
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <v-dialog v-model="dialog" max-width="50%">
          <template v-slot:activator="{ on, attrs }">
            <v-row align="center" v-show="!editar">
              <v-spacer></v-spacer>
              <v-col>
                <v-btn
                  rounded
                  color="blue-grey"
                  class="mt-10"
                  x-large
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  ANADIR PRODUCTO
                </v-btn>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
          </template>
          <ShowProducts @close-dialog="closeDialog" />
        </v-dialog>
        <v-row align="center" v-show="!editar">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn
              rounded
              color="grey"
              class="mt-5"
              x-large
              @click="editar = !editar"
            >
              CANCELAR
            </v-btn>
          </v-col>
          <v-col>
            <v-btn rounded color="green" class="mt-5" x-large dark>
              GUARDAR
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-sheet>
    </div>
  </div>
</template>
<script>
import ShowProducts from "@/components/ShowProducts.vue";
export default {
  name: "TempPage",
  components: { ShowProducts },
  props: {
    plantilla: {
      type: Object,
      required: true
    }
  },
  computed: {
    cartProducts() {
      return this.$store.getters["cart/getProductos"];
    }
  },
  methods: {
    changeEmb(opt) {
      this.embalaje = opt;
    },
    closeDialog() {
      this.dialog = false;
    },
    closeDialog2() {
      this.$emit("close-dialog");
    },
    addCart() {
      this.closeDialog2();
    }
  },
  data() {
    return {
      dialog: false,
      embalaje: 1,
      value: [-8, -8],
      editar: true
    };
  }
};
</script>
<style>
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  grid-template-rows: 1fr;
  background-color: #f3f7fa;
  color: #444;
  height: 90vh;
  padding: 1rem;
  overflow: auto;
}
.productos-box {
  grid-column: 1 / span 2;
  overflow-y: auto;
}
.pago-box {
  grid-column: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
