<template>
  <v-app>
    <Layout>
      <router-view></router-view>
    </Layout>
  </v-app>
</template>

<script>
import Layout from "./components/Layout";
//import axios from "axios";
import ApiService from "./services/ApiService";
export default {
  name: "App",

  components: {
    Layout
  },

  data: () => ({
    //
  }),
  created: function() {
    // axios.interceptors.response.use(undefined, function(err) {
    //   if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
    //     // if you ever get an unauthorized, logout the user
    //     this.$store.dispatch("AUTH_LOGOUT");
    //     // you can also redirect to /login if needed !
    //   }
    //   return Promise.reject(err);
    // });
    ApiService.init(process.env.VUE_APP_ROOT_API);
    ApiService.setImgURL(process.env.VUE_APP_ROOT_IMG);
    if (this.$store.getters["auth/getToken"]) ApiService.setHeader();
  }
};
</script>
